<div class="row">
    <% @group.assessments.each do |a| %>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <%= link_to user_group_assessment_path(@user, @group, a), :data => {:remote => true}  do %>
              <div class="btn btn-default groupButton">
                <b><%= Test.find(a.test_id).short_name %></b>
              </div>
          <% end %>
        </div>
    <% end %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div id="newAssessment">
        <%= link_to new_user_group_assessment_path(@user, @group), :data => {:remote => true} do %>
            <div class="btn btn-default groupButton">
                <i>Neuer Test</i>
            </div>
        <% end %>
      </div>
    </div>
</div>