<style>
  .c3-axis {
    font-size: 10pt;
  }
</style>

<% content_for :title do%>
  Klassenübersicht <%= @group.name %> - <%= @assessment.test.name %>
<% end %>


<div id="upperPart" style="width: 1122px; height: 561px"></div>

<script >
  <%if @assessment.test.generic_views["assessment_upperPart"].nil? || @assessment.test.generic_views["assessment_upperPart"].blank?%>
    <%= render 'tests/generic_views/standard/assessment_draw_graph.js.erb'%>
  <%else%>
    <%= render 'tests/generic_views/' + @assessment.test.generic_views["assessment_upperPart"]%>
  <%end%>
</script>
