<style>
  .content-h1-element {
    font-size: 1.5em;
    text-align: center;
  }
  .content-p-element {
    font-size: 1em;
    text-align: center;
  }
  .content-image-element {
    max-width: 70vw;
    min-width: 50vw;
    max-height: 50vh;
    min-height: 30vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .content-button-element {
    font-size: 1em;
    margin-top: 1em;
  }
</style>
<script type="module">
  window.useContentPage = ({ id, styles, content, continueConfig }) => {
    const el = $(
      `<div id='content-page-${id}' class='d-flex justify-content-center flex-column align-items-center'></div`
    )

    content.forEach((item, index) => {
      switch (item.type) {
        case 'asset':
          const imgSrc = item.asset ? window.media_paths[item.asset] : item.src
          el.append(
            `<div id='content-image-${index}' class='content-image-element' style='background-image:url(${imgSrc});'></div`
          )
          break
        case 'hr':
          el.append('<hr class="w-100"/>')
          break
        case 'p':
        case 'h1':
          const textEl = $(`<${item.type} class='content-${item.type}-element'></${item.type}>`)
          textEl.html(item.text)
          el.append(textEl)
          break
        case 'icon':
          const iconEl = $(`<i class="${item.iconClass}" style="font-size: 3em;"></i>`)
          el.append(iconEl)
          break
      }
    })
    const button = $(
      `<button class='btn btn-primary content-button-element'>${continueConfig.text}</button>`
    )
    button.on('click', continueConfig.handler)
    el.append(button)

    el.css(styles)

    return el
  }
</script>
