<script type="module">
  window.useEndPage = ({ config, styles, trend }) => {
    let conf = config

    if (!config.length) {
      let src = ''
      if (window.lastResult === undefined) {
        src = '/images/shared/Levumi-normal.jpg'
      } else if (trend === 1) {
        src = '/images/shared/Levumi-jubelt.gif'
      } else {
        src = '/images/shared/Levumi-liest.gif'
      }
      conf = [{ type: 'asset', src }]
    }
    const el = window.useContentPage({
      id: 'end-page',
      styles,
      content: conf,
      continueConfig: { text: 'Fertig!', handler: window.exit },
    })

    return el
  }
</script>
