<script type="module">
  window.useFeedback = ({ styles, isCorrect, item, continueHandler }) => {
    let fontAwesomeClass, text

    if (isCorrect) {
      fontAwesomeClass = 'fas fa-check text-success'
      text = window.config.options?.feedback?.positive
        ? window.config.options?.feedback?.positive
        : `<span class='${fontAwesomeClass}'></span>&nbsp;<span>Das war richtig!</span>`
    } else {
      fontAwesomeClass = 'fas fa-x text-danger'
      text = window.config.options?.feedback?.negative
        ? window.config.options?.feedback?.negative
        : `<span class='${fontAwesomeClass}'></span>&nbsp;<span>Das war nicht ganz richtig. Richtig wäre "###" gewesen.</span>`
    }

    text = text.replace('###', item.correctAnswer)
    text = text.replace('%%%', item.question)

    const displayQuestion = item.question.replace(/\(.+\)/, '_')

    const config = []
    if (!window.config.options?.feedback?.hide_task) {
      config.push({ type: 'p', text: displayQuestion }, { type: 'hr' })
    }
    config.push({ type: 'p', text })

    const el = window.useContentPage({
      id: 'feedback-page',
      styles,
      content: config,
      continueConfig: {
        text: `Weiter zur nächsten Frage`,
        handler: continueHandler,
      },
    })

    return el
  }
</script>
