<script type="module">
  window.useFeedback = ({ styles, isCorrect, correctAnswer, continueHandler }) => {
    let src, text

    if (isCorrect) {
      text = window.config.options?.feedback?.positive
        ? window.config.options?.feedback?.positive
        : 'Das war richtig!'
      src = '/images/shared/Levumi-jubelt.gif'
    } else {
      text = window.config.options?.feedback?.negative
        ? window.config.options?.feedback?.negative
        : `Das war nicht ganz richtig. Richtig wäre "###" gewesen.`
      text = text.replace('###', correctAnswer)
      src = '/images/shared/Levumi-liest.gif'
    }
    const config = [
      { type: 'asset', src },
      { type: 'p', text },
    ]

    const el = window.useContentPage({
      id: 'feedback-page',
      styles,
      content: config,
      continueConfig: {
        text: `Weiter zur nächsten Frage`,
        handler: continueHandler,
      },
    })

    return el
  }
</script>
