<div id="timer-widget" class="d-none">
  <div id="pause-overlay" class="position-fixed top-0 start-0 d-none"></div>
  <p id="counter" class="mb-0 me-3"></p>
</div>
<button id="pause-button" class="timer-btn btn btn-sm btn-danger d-none p-1 m-1 px-3">Pause</button>
<script type="module">
  let isCounterDisplayed = false
  let handleTimedOut = undefined
  let testDuration = undefined
  let remainingTime = undefined
  let startTime = undefined
  let counterInterval
  let isPauseButtonDisplayed = false

  const checkInterval = () => {
    remainingTime -= 1000
    updateCounter()
    if (remainingTime < 0) {
      clearInterval(counterInterval)
      counterInterval = undefined
      timeElapsedHandler()
      $('#pause-button').attr('disabled', true)
    }
  }

  const startCounter = () => {
    if (isPauseButtonDisplayed) {
      $('#pause-button').removeClass('d-none')
    }
    if (isCounterDisplayed) {
      $('#timer-widget').removeClass('d-none')
    }

    remainingTime = testDuration
    startTime = Date.now()
    updateCounter()
    counterInterval = setInterval(checkInterval, 1000)
  }

  const isRunning = () => {
    return !!counterInterval
  }

  const stopCounter = () => {
    clearInterval(counterInterval)
    counterInterval = undefined
  }

  const timeElapsedHandler = () => {
    clearInterval(counterInterval)
    counterInterval = undefined
    handleTimedOut()
    remainingTime = 0
    updateCounter()
  }

  const handlePauseButton = () => {
    if (isRunning()) {
      pause()
    } else {
      unpause()
    }
  }

  const hasElapsed = () => {
    return remainingTime <= 0 ? true : false
  }

  const getTotalDuration = () => {
    return (Date.now() - startTime) / 60000
  }

  const updateCounter = () => {
    const totalSeconds = Math.floor(remainingTime / 1000)
    const minutes = Math.floor(totalSeconds / 60)
    const seconds = totalSeconds % 60

    $('#counter').html(`${minutes}:${seconds < 10 ? '0' + seconds : seconds}`)
  }

  const getElement = () => {
    return $('#timer-widget')
  }

  const getPauseButton = () => {
    return $('#pause-button')
  }

  const pause = () => {
    $('#pause-button').addClass('btn-success').removeClass('btn-danger').text('Start')
    $('#pause-overlay').removeClass('d-none')
    stopCounter()
  }
  const unpause = () => {
    $('#pause-button').addClass('btn-danger').removeClass('btn-success').text('Pause')
    $('#pause-overlay').addClass('d-none')
    counterInterval = setInterval(checkInterval, 1000)
  }

  window.useTimerWidget = ({
    displayCounter = true, //TODO set this according to group/assessment/student settings, once available
    displayPauseButton = true, //TODO set this according to group/assessment/student settings, once available
    duration = 300000,
    timedOutHandler = () => {},
  }) => {
    isCounterDisplayed = (displayCounter && window.displayTimer) || true
    isPauseButtonDisplayed = (displayPauseButton && window.displayTimer) || true
    testDuration = duration
    handleTimedOut = timedOutHandler

    if (displayPauseButton) {
      $('#pause-button').on('click', handlePauseButton)
    }

    return {
      getElement,
      getPauseButton,
      startCounter,
      stopCounter,
      handlePauseButton,
      hasElapsed,
      getTotalDuration,
      isRunning,
      pause,
      unpause,
    }
  }
</script>
