<h1 style="font-size: 50px; font-weight:bold" class="text-center">Mathe-Test</h1><br><br><br>
<p style="font-size: 30px" class="text-center"> Trage immer eine Zahl ein und klicke weiter an</p>
<br><br><br><br><br><br>
</div>
			<div class='row text-center'>					
				<div class='col-md-4 col-md-offset-4'>
						<button id='weiter' type='button' onclick="nextItem()" class='btn btn-lg btn-primary'><span style='font-size: 30px; font-family: fibel_nordregular;'>Weiter</span></button>
				</div>
			</div>
</div>