<% 
	asked = item.shorthand 
	toleranceValue = item.difficulty
	lengthOfLine = item.itemtext
%>
<p style="font-size: 35px; font-family: fibel_nordregular;" class="text-center"> Wo ist die <%= asked %> ? Klicke.<p>
<div id='divNumbersLine' class='row text-center'>
		<canvas id='canvas' width='750' height='150'></canvas>
</div>


<div class='row text-center'>					
	<div class='col-md-4 col-md-offset-4'>
		<button id='weiter' type='button' class='btn btn-lg btn-success'><span style='font-size: 30px; font-family: fibel_nordregular;'>Weiter</span></button>
	</div>
</div>

<script type='text/javascript'>

	var canvas = document.getElementById('canvas');
	var ctx = canvas.getContext('2d');
	var w = canvas.width-50;
	var h = canvas.height;
	var toleranceValue = parseInt(<%= toleranceValue %>);
	var lineWidth = 10; // Needed for drawing
	var lengthOfLine = parseInt(<%= lengthOfLine %>);
	var interval = w / lengthOfLine;
	var currentAnswer=[];
	var answer = 0;
	var askedNumber= <%= asked %>;

	ctx.fillRect(0,h/2,w ,lineWidth);
	// first vertical line
	ctx.fillRect(0,((h/2) - (3*lineWidth)), lineWidth, 7 * lineWidth);
	// second vertical line
	ctx.fillRect(w-lineWidth,((h/2) - (3*lineWidth)), lineWidth, 7 * lineWidth);
	// Numbers on both sides
	ctx.font = '30px Arial black';
	ctx.fillText('0', 0, h/2 - 4*lineWidth);
	ctx.fillText(lengthOfLine, w - 20, h/2 - 4*lineWidth);

	$('#canvas').click(function (e){
		var x = e.offsetX;
		var y = e.offsetY;
		if((y >= h/2 - 2*lineWidth) && (y <= h/2 + 2*lineWidth)){
			answer = (x-x%interval)/interval;
			if(x%interval <= interval/2)
				showClickedPosition( answer , x, h);
			else 
				showClickedPosition( answer = answer + 1, x, h);
		}
	});

	// detects whether the device is touch device to show the keyboard
	function is_touch_device(){
		return 'ontouchstart' in window || navigator.maxTouchPoints;
	};

	function drawLines(){
	//horizontal line
		ctx.fillRect(0,h/2,w ,lineWidth);
		// first vertical line
		ctx.fillRect(0,((h/2) - (3*lineWidth)), lineWidth, 7 * lineWidth);
		// second vertical line
		ctx.fillRect(w-lineWidth,((h/2) - (3*lineWidth)), lineWidth, 7 * lineWidth);
		// Numbers on both sides
		ctx.font = '30px Arial black';
		ctx.fillText('0', 0, h/2 - 4*lineWidth);
		ctx.fillText(lengthOfLine, w - 20, h/2 - 4*lineWidth);
	}

	function showClickedPosition(answer, x,h){
		if (currentAnswer.length > 0){
			ctx.clearRect(currentAnswer[0],currentAnswer[1],currentAnswer[2],currentAnswer[3]);
			ctx.fillStyle = 'black';
			drawLines();
		}
		ctx.fillStyle = 'red';
		var rect = [x, h/2 - 3*lineWidth , 8, 7*lineWidth];
		currentAnswer = rect;
		ctx.fillRect(rect[0],rect[1],rect[2],rect[3]);
	}

	$('#weiter').click(function(){
		nextClicked();
	});		

	function nextClicked() {
		actualAnswers = actualAnswers + answer + ',';
		if(answer >= parseInt(askedNumber) - toleranceValue && answer <= parseInt(askedNumber) + toleranceValue){
			currentResult = currentResult + '1,';
		}
		else {
			currentResult = currentResult + '0,';
		};
		currentTimes = currentTimes + ( new Date() - stopwatch) + ',';
		stopwatch = new Date();
		nextItem();
	};

</script>
