<!DOCTYPE html>
<html>
<head>
  <title>Levumi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<nav class="navbar">
</nav>

<div class="container-fluid">
  <div id="content">
    <%= yield %>
  </div>
</div>

<nav class="navbar">
</nav>

</body>
</html>

