<div class='row'>
  <div class='col-3'>
  </div>
  <div class='col-6'>
    <div class='card card-header mt-5 ml-5 mr-5'>
      <% if @user.intro_state == 1 %>
        Schützen Sie den Zugriff auf Ihr Konto
      <% else %>
        Helfen Sie uns bei der Forschung
      <% end %>
    </div>
    <div class='card card-body ml-5 mr-5'>
      <%= form_for @user, url: '/willkommen', html: {autocomplete: 'off', onsubmit: @user.intro_state == 1 ? 'updatePassword();' : ''} do |f| %> <!-- #Bei Submit neuen Key speichern, damit umkodiert werden kann  -->
        <% if @user.intro_state == 1 %>
          <%= render 'users/form/password', f: f, user: @user, namespace: false %>
        <% else %>
          <% if @user.account_type < 2 %>
            <%= render 'users/form/extra_data', f: f, user: @user  %>
          <% else %>
            <p>Das war's schon!</p>
          <% end %>
          <!-- Hidden Field mit generiertem Key für die Beispielklasse -->
          <input type='hidden' id='key' name='key'/>
          <!-- Hidden Field mit generiertem Auth_Token für die Beispielklasse -->
          <input type='hidden' id='token' name='auth_token'/>
        <% end %>
        <%= f.submit @user.intro_state == 1 ? 'Weiter' : 'Registrierung abschließen', class: 'btn btn-outline-success'%>
      <% end %>
    </div>
  </div>
  <div class='col-3'>
  </div>
</div>


<% if @user.intro_state == 2 %>
    <script>
      //Zufallsstring für Key und Auth_Token der Beispielklasse generieren
      let key = Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 6);
      $('#key').val(encrypt_key(key));
      $('#token').val(sjcl.encrypt(key, key));
    </script>
<% end %>
