<p>
  <%= render 'form' %>
</p>
<br/>
<div class="panel panel-default">
    <div class="panel-heading">
      <p>Wählen Sie eine .CSV oder .XLS Datei aus um mehrere Schüler/-innen auf einmal anzulegen. Die Datei muss eine Spalte "Namen" und "Vornamen" enthalten und einen Eintrag pro Zeile</p>
    </div>
    <div class="panel-body">
      <%= render 'import_form' %>
    </div>
</div>
