<table class="table table-striped">
  <thead>
  <th>
    Schüler/-in
  </th>
  <th>
    Tests
  </th>
  </thead>
  <tbody>
  <% @group.students.each do |student| %>
      <tr>
        <td>
          <%= link_to "#{student.name}, #{student.firstname}", user_group_student_path(@user, @group, student)%>
        </td>
        <td>
          --
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "Schüler/-in hinzufügen", new_user_group_student_path(@user, @group), :class => "btn btn-default" %>
