<%
  data = {
      groups: @groups
  }
%>

<script>
console.log("<%= data.to_json%>");
</script>

<div id='levumi' data="<%= data.to_json%>">
    <b-container fluid>
      <b-row>
        <b-tabs>
          <b-tab
            v-for="(group, index) in groups"
            v-bind:key="group.id"
            v-bind:title="group.label"
            v-bind:class="{active:index == 0}"
          >
            <group-tab
                v-bind:students="JSON.parse(groups[index].students)"
            ></group-tab>
          </b-tab>
        </b-tabs>
      </b-row>
    </b-container>
</div>