
<style>
  @media print
  {
    h4 {page-break-before:always}
  }
  table{
    width: 100%;
  }
  th{
    padding-bottom: 15px;
  }
</style>
<div class="container-fluid">
  <div id="content">
    <h1><%= "Zugangsdaten der Klasse #{@group.name}" %></h1><br>
        <table style="font-family: 'fibel_nordregular'; font-size:20px">
          <tr>
            <th>Schüler/-in:</th>
            <th>Login-Code:</th>
          </tr>
          <% @students.each do |r| %>
          <tr>
            <td><%= r.name %></td>
            <td><%= r.login%> </td>
          </tr>
          <% end %>
        </table>
  </div>
</div>
