<div class="well userCard" id="group">

    <table class="table table-striped">
      <thead>
      <th>
        Schüler/-in
      </th>
      </thead>
      <tbody>
      <% @group.students.each do |student| %>
          <tr>
            <td>
              <%= student.name %>, <%= student.firstname %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <p>
      <%= render 'form' %>
    </p>
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">
          <p>Wählen Sie eine CSV, ODT, XLS oder XLSX Datei aus um mehrere Schüler/-innen auf einmal anzulegen.</p>
        </div>
        <div class="panel-body">
          <%= render 'import_form' %>
        </div>
    </div>

</div>
