<style>
  @media print
  {
    h4 {page-break-before:always}
  }
</style>

<div class="container-fluid">
  <div id="content">
    <h1><%= "Klasse #{@group.name} von #{@user.name}" %></h1>
    <% @students.each do |r| %>
        <table style="font-family: 'fibel_nordregular'; font-size:30px">
          <tr>
            <td>Schüler/-in: <%= r.name %></td>
          </tr>
          <tr>
            <td>Login-Code: <%= r.login%> </td>
          </tr>
        </table>
        <br />
    <% end %>
  </div>
</div>
<script>
    $(document).ready(function() {
        window.print();
    });
</script>