<audio id='audioItem'></audio>
<p style='font-family: fibel_nordregular; font-size:60px' class='text-center'>
  <img style='float: left; width: 150px;margin-left: 125px' src='/images/Abtipptest/headphones.png'/>
  <br />
  <br />
  <img style='float: left; width: 150px;margin-left: 125px' src='/images/Abtipptest/tastartur.png'/>
</p>
<p style='font-family: fibel_nordregular; font-size:96px;margin-right:280px' type='text' class='text-center' align='middle'>
  Schl<span style='background-color:#FFFF00'>ö</span>sser
</p>
<p style='font-family: fibel_nordregular; font-size:96px' type='text' class='text-center' align='middle'>
  Schl<input style='font-family: fibel_nordregular;padding-bottom: 10px; line-height: 50px; width: 50px; font-size:96px' id='answer' type='text' class='text-center' align='middle'>sser
</p>
<br />
<br />
<footer>
  <table align='center'>
    <tr>
      <th>
        <div style='font-family: fibel_nordregular;font-size:60px'>
          Nochmal anhören: <span><img style='width: 50px' src='/images/shared/Tastatur_PfeilLinks.png'/></span>
          /&nbsp;&nbsp;
        </div>
      </th>
      <th>
        <div style='font-family: fibel_nordregular;font-size:60px'>
          Weiter: <span><img style='width: 50px' src='/images/shared/Tastatur_EingabetasteAlleine.png'/></span>
        </div>
      </th>
    </tr>
  </table>
</footer>
<script>
    var tempAudio = (document.getElementById('audioItem'));
    tempAudio.src = itemDataSound[studentData[currentStudent][currentItemIndex]][0];
    tempAudio.play();
    var tempAnswer = (document.getElementById('answer'));tempAnswer.focus();
    $(tempAnswer).css('border','0px').css('border-bottom', 'black solid 1px').attr('maxlength', '1').attr('size','1').val('');
    $(window).keyup(function (event) {
        if(event.keyCode==37){
            tempAudio.pause();
            tempAudio.currentTime = 0;
            tempAudio.play();
        }
        else if(event.keyCode == 13 && tempAnswer.value == 'ö') {
            $(window).unbind('keyup');
            nextItem();
        }
    });
    $(tempAnswer).keydown(function (event) {
        var key = event.charCode || event.keyCode;
        if (key == 37||key == 38||key == 39||key == 40||key == 32||key ==27) {
            event.preventDefault();
        }
    });
</script>
