<audio id='audioItem'></audio>
<p style='font-family: fibel_nordregular; font-size:60px' class='text-center'>
  „Bitte benutze jetzt die Löschtaste und lösche den Satz.“
  <img id='talkingLevumi' style='float: right; width: 250px ' src='/images/shared/LeVuMi_SprechenBlinzeln.gif'/>
  <br />
  <img style='float: left; width: 150px;margin-left: 125px' src='/images/Abtipptest/headphones.png'/>
  <br />
  <br />
  <img style='float: left; width: 150px;margin-left: 125px' src='/images/Abtipptest/tastartur.png'/>
  <input style='font-family: fibel_nordregular; font-size:96px;margin-right:250px' id='answer' type='text' class='text-center' align='middle'>
</p>
<br />
<br />
<footer>
  <table align='center'>
    <tr>
      <th>
        <div style='font-family: fibel_nordregular;font-size:60px'>
          Nochmal anhören: <span><img style='width: 50px' src='/images/shared/Tastatur_PfeilLinks.png'/></span>
          /&nbsp;&nbsp;
        </div>
      </th>
      <th>
        <div style='font-family: fibel_nordregular;font-size:60px'>
          Weiter: <span><img style='width: 50px' src='/images/shared/Tastatur_EingabetasteAlleine.png'/></span>
        </div>
      </th>
    </tr>
  </table>
</footer>
<script>
    var tempAudio = (document.getElementById('audioItem'));
    tempAudio.src = itemDataSound[studentData[currentStudent][currentItemIndex]][0];
    tempAudio.play();
    var tempAnswer = (document.getElementById('answer'));tempAnswer.focus();
    $(tempAnswer).css('border','0px').css('border-bottom', 'black solid 1px').attr('maxlength', '28').attr('size','28').val('Bitte lösche alle Buchstaben');
    $(window).keyup(function (event) {
        if(event.keyCode==37){
            tempAudio.pause();
            tempAudio.currentTime = 0;
            tempLevumiPic.src ='/images/shared/LeVuMi_SprechenBlinzeln.gif';
            tempAudio.play();
        }
        else if(event.keyCode == 13 && tempAnswer.value == '') {
            $(window).unbind('keyup');
            nextItem();
        }
    });
    $(tempAnswer).keydown(function (event) {
        var key = event.charCode || event.keyCode;
        if (key == 37||key == 38||key == 39||key == 40||key == 32||key ==27) {
        event.preventDefault();
        }
    });
    var tempLevumiPic = (document.getElementById('talkingLevumi'));
    tempAudio.addEventListener('ended', function() {
        tempLevumiPic.src ='/images/shared/Levumi-normal-blau.jpg';
    });
</script>
