@import './variables.scss';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-vue-next/dist/bootstrap-vue-next.css';
@import '@fortawesome/fontawesome-free/css/all.css';
@import './startpage.scss';

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Schriftarten */
@font-face {
  font-family: 'Fibel Nord';
  src: url('../../assets/fonts/FibelNord.woff2') format('woff2'),
    url('../../assets/fonts/FibelNord.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grundschrift';
  src: url('../../assets/fonts/Grundschrift.woff2') format('woff2'),
    url('../../assets/fonts/Grundschrift.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grundschrift Grundlinie';
  src: url('../../assets/fonts/GrundschriftGrundlinie.woff2') format('woff2'),
    url('../../assets/fonts/GrundschriftGrundlinie.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.text-small {
  font-size: 0.875rem;
}

/* Bootstrap Theming */

/* Buttons */

.btn:hover,
.btn:active,
.btn:focus {
  box-shadow: none !important;
}

/* btn-xxx Varianten */

.btn-primary.btn-primary,
.btn-primary.btn-primary:active {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}
.btn-primary:hover {
  background-color: $primary-color-dark !important;
  border-color: $primary-color-dark !important;
}

.btn-secondary.btn-secondary {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
  &:hover {
    background-color: $secondary-color-dark !important;
    border-color: $secondary-color-dark !important;
  }
}

.btn-danger,
.btn-danger:active {
  background-color: $danger-color !important;
  border-color: $danger-color !important;
}
.btn-danger:hover {
  background-color: $danger-color-dark !important;
  border-color: $danger-color-dark !important;
}

.btn-success,
.btn-success:active {
  background-color: $success-color !important;
  border-color: $success-color !important;
}
.btn-success:hover {
  background-color: $success-color-dark !important;
  border-color: $success-color-dark !important;
}

/* btn-outline-xxx Varianten */

.btn-outline-primary,
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: $primary-color;
  border-color: $primary-color !important;
}
.btn-outline-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}

.btn-outline-secondary,
.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
  color: $secondary-color;
  border-color: $secondary-color !important;
}
.btn-outline-secondary.btn-outline-secondary:active,
.btn-outline-secondary.btn-outline-secondary:hover,
.btn-outline-secondary.btn-outline-secondary:not(:disabled):not(.disabled).active {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
}

.btn-outline-danger,
.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: $danger-color;
  border-color: $danger-color !important;
}
.btn-outline-danger:active,
.btn-outline-danger:hover,
.btn-outline-danger:not(:disabled):not(.disabled).active {
  background-color: $danger-color !important;
  border-color: $danger-color !important;
}

.btn-outline-success.btn-outline-success,
.btn-outline-success.btn-outline-success.disabled,
.btn-outline-success.btn-outline-success:disabled {
  color: $success-color;
  border-color: $success-color !important;
}
.btn-outline-success:active,
.btn-outline-success:hover,
.btn-outline-success:not(:disabled):not(.disabled).active {
  background-color: $success-color !important;
  border-color: $success-color !important;
  color: $white !important;
}

.btn-outline-primary:disabled,
.btn-outline-primary.disabled,
.btn-outline-secondary:disabled,
.btn-outline-secondary.disabled,
.btn-outline-success:disabled,
.btn-outline-success.disabled,
.btn-outline-danger:disabled,
.btn-outline-danger.disabled {
  background-color: transparent !important;
}
.btn-outline-primary.disabled:hover,
.btn-outline-secondary.disabled:hover,
.btn-outline-success.disabled:hover,
.btn-outline-danger.disabled:hover {
  background-color: transparent !important;
}

/* Sonderfälle */
.dropdown.show > .btn.btn-outline-primary.dropdown-toggle {
  background-color: $primary-color-dark !important;
}

/* Navs etc. */

.nav > li > a,
.btn {
  padding-top: 4px;
  padding-bottom: 4px;
}

.nav-pills .nav-link {
  color: $primary-color;
}

.nav-link.disabled {
  color: $secondary-color;
  font-style: italic;
}

.nav-pills .nav-link.active,
.dropdown-item:active {
  background-color: $primary-color;
}

.navbar-light .navbar-nav .nav-link {
  color: $secondary-color;
}

.navbar-light .navbar-nav .nav-link:not(.active):hover,
.nav-pills .nav-link:not(.active):hover,
.nav-pills .nav-link:not(.active) .text-muted:hover {
  color: #252547 !important;
}

.navbar-light .navbar-nav .nav-link.active,
.nav-pills .nav-link.active {
  color: white;
  background-color: $primary-color;
}

/* Forms */
.form-check-input,
input:focus,
select:focus,
textarea:focus {
  border-color: $levumi-color !important;
  box-shadow: 0 0 0 0.075rem $secondary-color !important;
}

.form-check-input {
  margin-top: 0.4em;
  &:checked {
    background-color: $primary-color-dark;
  }
}

ul.pagination > li.page-item.active > button {
  background-color: $primary-color-dark;
  border-color: $primary-color-dark;
}

/* custom elements */
.new-badge {
  transform: translate(0, -2px);
}

.modal-backdrop {
  opacity: 0.5;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $primary-color;
  background-color: $primary-color;
}

a {
  color: $primary-color-dark;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $primary-color-dark;
  text-decoration: none;
  cursor: pointer;
}

.improvement-arrow {
  color: $success-color;
  transform: rotate(45deg);
}
.neutral-arrow {
  color: $secondary-color;
}
.degradation-arrow {
  color: $danger-color;
  transform: rotate(-45deg);
}

// generated tests
#main-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2em;
}

#main-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.answer-button {
  margin: 0.5rem;
}

#timer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#image-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}

#content-container {
  display: flex;
  justify-content: center;
}

// custom font-sizes for editor-tests
.levumi-l {
  font-size: 3rem;
}
.levumi-xl {
  font-size: 3.5rem;
}
.levumi-2xl {
  font-size: 4rem;
}
.levumi-3xl {
  font-size: 4.5rem;
}
.levumi-4xl {
  font-size: 5rem;
}
.levumi-5xl {
  font-size: 6rem;
}
.levumi-6xl {
  font-size: 7rem;
}
.levumi-7xl {
  font-size: 8rem;
}

#preloading-break {
  background-color: rgb(100,100,100,0.5);
  width: 100vw;
  height: 100vh;
}

// hotfix for FM tests, which have a inline `position: absolute`
#levumi_img {
  position: unset !important;
}
// hotfix for all legacy tests with number inputs
#button_area1 > button {
  flex: 1 0 0%;
}
#button_area2 > button {
  flex: 1 0 0%;
}
#button_area3 > button {
  flex: 1 0 0%;
}
#button_area4 > button {
  flex: 1 0 0%;
}
// hotfix for legacy tests that use a canvas for rendering
#divNumbersLine > canvas {
  width: unset !important;
}
#next_area {
  text-align: center;
}

#testspace #hinweis {
  text-align: center;
}
