@import 'bootstrap/scss/_functions.scss';

$black: #000;
$white: #fff;

$primary-color: #5a598c;
$primary-color-dark: #47476e;
$secondary-color: #616970;
$secondary-color-dark: #434b52;
$danger-color: #b73631;
$danger-color-dark: #99342f;
$success-color: #34823e;
$success-color-dark: #2a642f;
$levumi-color: rgba(94, 86, 187, 0.7);

$levumi-transparent-color: #5a598c11;

$primary: $primary-color;
$secondary: $secondary-color;

@import 'bootstrap/scss/_variables.scss';

@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';

@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/helpers';
