$black: #000;
$white: #fff;

$primary-color: #5a598c;
$primary-color-dark: #47476e;
$secondary-color: #616970;
$secondary-color-dark: #434b52;
$danger-color: #b73631;
$danger-color-dark: #99342f;
$success-color: #34823e;
$success-color-dark: #2a642f;
$levumi-color: rgba(94, 86, 187, 0.7);

$link-color: $primary-color;
