<div id="graph">

</div>
<script type="text/javascript" charset="utf-8">
    var vis = d3.select("#graph").append("svg");
    vis.attr("width", $('#group').width())
       .attr("height", Math.round($('#group').width()*9/16));
</script>
