<% @groups.each do |group| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <%= link_to user_group_path(@user, group) do %>
      <div class="btn btn-default groupButton">
        <p class="lead">
          <%= group.name %>
        </p>
        <table class="table table-condensed">
          <thead>
          <td>
            Schüler/-innen
          </td>
          <td>
            Tests
          </td>
          </thead>
          <tbody>
          <tr>
            <td>
              <%= group.students.size %>
            </td>
            <td>
              --
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
<% end %>
  <div class="col-md-4 col-sm-6 col-xs-12">
  <%= link_to new_user_group_path(@user) do %>
    <div class="btn btn-default groupButton">
        Neue Klasse anlegen
    </div>
  <% end %>
  </div>
