<%
  data = {
      groups: [Group.new] + @groups
  }
%>


<div id='levumi' data="<%= data.to_json%>">
    <b-container fluid>
      <b-row class="mt-5">
        <b-col md="12">

          <b-tabs pills>

            <b-tab active>
              <template slot="title">
                Aktuelle Klassen
              </template>

              <b-card no-body>
                <b-tabs pills card>

                  <!-- Neue Klasse anlegen -->
                  <b-tab>
                    <template slot="title">
                      <i class="fas fa-folder-plus"></i>
                    </template>
                    <group-form
                      :groups="groups"
                      :index="0"
                    ></group-form>
                  </b-tab>

                  <!-- Alle Klassen als Tabs anzeigen -->
                  <b-tab
                    v-for="(group, index) in groups"
                    v-if="index > 0 & group.archive == false"
                    :key="group.id"
                    :title="group.label"
                    :active="index == 1"
                  >
                    <group-display
                      :groups="groups"
                      :index="index"
                      :students="JSON.parse(groups[index].students)"
                    ></group-display>
                  </b-tab>

                </b-tabs>
              </b-card>
            </b-tab>

            <!-- Klassenarchiv -->
            <b-tab>
              <template slot="title">
                <em>Klassenarchiv</em>
              </template>

              <b-card no-body>
                <b-tabs pills card vertical>

                  <!-- Hinweistext falls keine Klasse vorhanden -->
                  <div slot="empty" class="text-center text-muted">
                    Keine Klassen im Archiv vorhanden.
                  </div>

                  <b-tab
                    v-for="(group, index) in groups"
                    v-if="group.archive == true"
                    :key="group.id"
                    :title="group.label"
                  >
                    <group-display
                      :groups="groups"
                      :index="index"
                      :students="JSON.parse(groups[index].students)"
                    ></group-display>
                  </b-tab>
                </b-tabs>
              </b-card>

            </b-tab>

          </b-tabs>

        </b-col>
       </b-row>
    </b-container>
</div>

