<%
  data = {
      groups: @groups
  }
%>

<div id='levumi' data="<%= data.to_json%>">
    <b-container fluid>
      <b-row class="justify-content-md-center">
          <group-card
            v-for="group in groups"
            v-bind:key="group.id"
            v-bind:title="group.label"
            v-bind:size="group.size"
          ></group-card>
      </b-row>
      <b-row class="justify-content-md-center">Testinfo</b-row>
      <b-row class="justify-content-md-center">Klasseninfo</b-row>
    </b-container>
</div>