<%
  data = {
      groups: @groups,
      tests: @tests,
      assessments: @assessments
  }

  #Temporäer Hack
  students = {}
  @user.students.each do |s|
    students[s.group_id] ||= []
    students[s.group_id] += [s]
  end
%>

<script>
    //Eintrag in der Navleiste markieren
    highlightNavItem("navbarHome");

    //Temporärer Hack!
    sessionStorage['students'] = "<%= escape_javascript(raw students.to_json)%>";
</script>

<div id='levumi' data="<%= data.to_json%>">

  <!-- Spinner -->
  <div v-if="!$data">
    <b-row>
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </b-row>
  </div>

  <home-app></home-app>
</div>
