<div class='row'>
  <div class='col-3'>
  </div>
  <div class='col-6'>
    <div class='card card-header mt-5 ml-5 mr-5'>
      Passwort zurücksetzen
    </div>
    <div class='card card-body ml-5 mr-5'>
      <form id="password-reset">
        <div class='form-group'>
          <input type='email' name='email' class='form-control' id='email' placeholder='E-Mail Adresse'>
        </div>
        <div class='form-group'>
          <label for='security'>In welcher Stadt wurden Sie geboren?</label>
          <input type='text' name='security' class='form-control' id='security' placeholder='Antwort auf die Sicherheitsfrage'>
        </div>
        <%= submit_tag 'Überprüfen', class: 'btn btn-primary'%>
      </form>
    </div>
    <div id='res' class='card-footer ml-5 mr-5'>
      Bitte beachten Sie Groß- und Kleinschreibung bei der Antwort!
    </div>
  </div>
  <div class='col-3'>
  </div>
</div>
<script type="module">

const submit = async e => {
  e.preventDefault()
  e.stopPropagation()
  const res = await fetch('/passwort', {
    method: 'post',
    headers: {
      Accept: 'application/json',
      'X-Requested-With': 'XMLHttpRequest',
      'Content-Type': 'application/json',
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
    },
    body: JSON.stringify({ email: $('#email').val(), security: $('#security').val() }),
  })

  if (res.status === 200) {
    const data = await res.json()
    let pw = ''
    try {
      pw = sjcl.decrypt($('#security').val(), data.user.security_digest)
    } catch (e) {
      // error message is displayed in the else case below
  }
  if (pw) {
    $('#res').html(
        "<button class='btn btn-success' type='button' data-toggle='collapse' data-target='#collapse' aria-expanded='false' aria-controls='collapse'>Überprüfung erfolgreich<br>Hier klicken, um das Passwort anzeigen:</button><div class='collapse alert alert-success mt-3' id='collapse'></div>"
      )
      $('#collapse').html('<a href="/">' + pw + '</>')
    } else {
      $('#res').html(
        "<div class='alert alert-danger' role='alert'>Überprüfung fehlgeschlagen! Bitte wenden Sie sich an das Levumi Team.</div>"
      )
    }
  }
}
$("#password-reset").on("submit", submit)
</script>