<div class="container">
  <div class='card mt-4'>  
    <div class='card-header'>
      Passwort wiederherstellen
    </div>
    <div class='card card-body'>
    <div>
    <input type='email' name='email' class='form-control' id='email-input' placeholder='E-Mail Adresse'>
    </br>
    <button class='btn btn-primary' id="sendCode" >Einmalcode anfordern </button>
    </div>
    <div>
      <div class='card-body' id="hiddenField" style="display: none">
          </br>
          <label>Einmalcode eingeben</label>
          <input type='text' class='form-control' id='verificationCode' placeholder='Eingabe des Einmalcodes'>
          </br>
          <button class='btn btn-primary' id="securityKeyCheck" >Überprüfung des Einmalcodes </button>
          <div class='card-body' id="hiddenSecurityForm">
      </div>
      </div>
    </div>
    <div id='res' class='card-footer'>
      Bitte beachten Sie Groß- und Kleinschreibung bei der Antwort!
    </div>
  </div>
</div>
<script type="module">

async function sendVerificationCode(){
  const email = $('#email-input').val()
  const mail = await fetch('/recovery_notification', {
    method: 'POST',
    headers: {
      Accept: 'application/json',
      'X-Requested-With': 'XMLHttpRequest',
      'Content-Type': 'application/json',
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
    },
    body: JSON.stringify({user : {email}}),
  })
  if (mail.status === 200){
    $(document).ready(function(){
      showSecurityQuestions()
    }
    )
    
  }
}
function showSecurityQuestions(){
  $('#hiddenField').show()
}

$("#sendCode").one("click", sendVerificationCode)
$("#securityKeyCheck").one("click", checkKey)

async function checkKey(){
  const email = $('#email-input').val()
  const recovery_key =  $('#verificationCode').val()
  const key = await fetch('/recovery_key_verification', {
    method: 'POST',
    headers: {
      Accept: 'application/json',
      'X-Requested-With': 'XMLHttpRequest',
      'Content-Type': 'application/json',
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
    },
    body: JSON.stringify({user : {email, recovery_key}}),
  })
  if(key.status === 200){
    const partial = await fetch('/load_partial',{
      method: 'GET',
      headers: {
        Accept: 'text/html',
        'X-Requested-With': 'XMLHttpRequest',
      }
    })
    if (partial.ok){
      const content = await partial.text()
      $('#hiddenSecurityForm').html(content)
    }
  }
}
</script>