<div class="container">
  <div class='card mt-4'>  
    <div class='card-header'>
      Passwort wiederherstellen
    </div>
    <div class='card card-body'>
      <form id="password-reset">
        <div class='form-group'>
          <input type='email' name='email' class='form-control' id='email-input' placeholder='E-Mail Adresse'>
        </div>
        <div class='form-group'>
          <label for='security'>In welcher Stadt wurden Sie geboren?</label>
          <input type='text' name='security' class='form-control' id='security' placeholder='Antwort auf die Sicherheitsfrage'>
        </div>
        <%= submit_tag 'Überprüfen', class: 'btn btn-primary'%>
      </form>
    </div>
    <div id='res' class='card-footer'>
      Bitte beachten Sie Groß- und Kleinschreibung bei der Antwort!
    </div>
  </div>
 
</div>
<script type="module">

const submit = async e => {
  e.preventDefault()
  e.stopPropagation()

  const email =  $('#email-input').val()
  const security =  $('#security').val()

  const res = await fetch('/passwort', {
    method: 'POST',
    headers: {
      Accept: 'application/json',
      'X-Requested-With': 'XMLHttpRequest',
      'Content-Type': 'application/json',
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
    },
    body: JSON.stringify({ email, security }),
  })

  let pw = ''
  if (res.status === 200) {
    const data = await res.json()
    try {
      pw = sjcl.decrypt(security, data.user.security_digest)
    } catch (e) {
      // error message is displayed in the else case below
    }
  } 
  if (pw) {
    $('#res').html(
        `<button class='btn btn-success' type='button' data-toggle='collapse' data-target='#collapse' aria-expanded='false' aria-controls='collapse'>
        Überprüfung erfolgreich<br>
        Hier klicken, um das Passwort anzeigen
        </button>
        <div class='collapse mt-3' id='collapse'><p class="alert alert-success">${pw}</p>
          <p>Bitte kehren Sie zur <a href="/">Startseite</a> zurück, um sich mit Ihrer Email-Adresse und dem angezeigten Passwort einzuloggen.</p>
        </div>
        `
      )
      
  } else {
    $('#res').html(
      "<div class='alert alert-danger' role='alert'>Überprüfung fehlgeschlagen! Bitte wenden Sie sich an das Levumi Team.</div>"
    )
  }
}
$("#password-reset").on("submit", submit)
</script>