<div class="container">
  <div class="card mt-4">
    <div class="card-header"><strong>Passwort wiederherstellen</strong></div>    
    <div class="card card-body">
    <p>Sie können Ihr Passwort für Levumi wiederherstellen, wenn Sie die Antwort auf die 
      Sicherheitsfrage noch kennen. In diesem Fall fordern Sie bitte zunächst unten einen Code 
      für die Wiederherstellung an und geben ihn dann hier ein.
    </p><p>
      Falls Sie die Antwort auf die Sicherheitsfrage nicht mehr kennen, kontaktieren Sie uns bitte.
    </p>
      
      <div>
        <input
          type="email"
          name="email"
          class="form-control"
          id="email-input"
          placeholder="E-Mail-Adresse" />

        <div id="email-invalid-feedback" class="invalid-feedback" style="display: none">
          
        </div>
        <button class="btn btn-primary mt-3" id="send-code">Code anfordern</button>
      </div>
      <div>
        <div id="hidden-code-input" style="display: none">
          <input
            type="text"
            class="form-control mt-4"
            id="verificationCode"
            placeholder="Einmal-Code" />
          <div id="code-invalid-feedback" class="invalid-feedback" style="display: none">
            Der eingegebene Code ist falsch!
          </div>
          <button class="btn btn-primary mt-3" id="security-key-check">
            Code überprüfem
          </button>
        </div>
        <p class="mt-4" id="pw-hint">Nach der Eingabe des Codes müssen Sie nur noch die Sicherheitsfrage mit der 
        von Ihnen festgelegten Antwort beantworten. Danach haben Sie wieder Zugriff auf Ihr Benutzerkonto.
        </p>
        <div id="hidden-security-form"></div>
      </div>
    </div>
  </div>
</div>
<script type="module">
  $('#send-code').on('click', sendVerificationCode)
  $('#security-key-check').on('click', checkKey)

  async function sendVerificationCode() {
    $('#send-code').text("Code erneut anfordern")
    $('#email-invalid-feedback').hide()
    const email = $('#email-input').val()
    if (!email || !email.includes('@')) {
      $('#email-invalid-feedback').text("Bitte geben Sie eine gültige E-Mail-Adresse an.").show()
      return
    }
    const mail = await fetch('/recovery_notification', {
      method: 'POST',
      headers: {
        Accept: 'application/json',
        'X-Requested-With': 'XMLHttpRequest',
        'Content-Type': 'application/json',
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
      },
      body: JSON.stringify({ user: { email } }),
    })
    if (mail.status === 200) {
      $('#hidden-code-input').show()
    } else {
      const res = await mail.json()
      
      $('#email-invalid-feedback').text(res.message).show()
      return
    }
  }

  async function checkKey() {
    $('#code-invalid-feedback').hide()
    const email = $('#email-input').val()
    const recovery_key = $('#verificationCode').val()
    const key = await fetch('/recovery_key_verification', {
      method: 'POST',
      headers: {
        Accept: 'text/html',
        'X-Requested-With': 'XMLHttpRequest',
        'Content-Type': 'application/json',
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
      },
      body: JSON.stringify({ user: { email, recovery_key } }),
    })
    if (key.status === 200) {
      const content = await key.text()
      $('#pw-hint').remove()
      $('#hidden-security-form').html(content)
    } else if (key.status === 403) {
      $('#code-invalid-feedback').show()
    }
  }
</script>
