<%
  data = {mode: Rails.env}
  if @assessment
    data[:pre_select] = {
        group: @assessment.group_id,
        area: @assessment.test.test_family.competence.area_id,
        competence: @assessment.test.test_family.competence_id,
        family: @assessment.test.test_family_id,
        test: @assessment.test_id,
        assessment: @assessment.get_data
    }
  end
%>

<div id='levumi' data="<%= data.to_json%>">

  <!-- Spinner -->
  <div v-if='!$data'>
    <b-row>
      <div class='spinner'>
        <div class='bounce1'></div>
        <div class='bounce2'></div>
        <div class='bounce3'></div>
      </div>
    </b-row>
  </div>

  <!-- Vue-component -->
  <root-app></root-app>
</div>
