<%
  data = {
      #Wird von mehreren Actions aufgerufen, deswegen hier anstelle von Doppelung
      groups: @login.groups.where(archive: false).order(id: :desc).map {|g| g.as_hash(@login)},
      group_info: @login.get_home_info,
      login: @login
  }
  if @assessment
    data[:pre_select] = {
        group: @assessment.group_id,
        area: @assessment.test.test_family.competence.area_id,
        competence: @assessment.test.test_family.competence_id,
        family: @assessment.test.test_family_id,
        test: @assessment.test_id,
        assessment: @assessment.get_data
    }
  end
%>

<script type="module">
    //Eintrag in der Navleiste markieren
    window.highlightNavItem('navbarHome');
</script>

<!-- TODO: Wieder entfernen -->
<div class="alert alert-primary" role="alert">
  <strong>Liebe Lehrkräfte</strong> helfen Sie uns mit einer kurzen anonymen Umfrage an der Uni Leipzig Levumi zu verbessern!
  <a href="https://umfrage.uni-leipzig.de/index.php/199149?lang=de" target="_blank">Jetzt mitmachen</a>
</div>

<div id='levumi' data="<%= data.to_json%>">

  <!-- Spinner -->
  <div v-if='!$data'>
    <b-row>
      <div class='spinner'>
        <div class='bounce1'></div>
        <div class='bounce2'></div>
        <div class='bounce3'></div>
      </div>
    </b-row>
  </div>

  <!-- Vue-component -->
  <home-app></home-app>
</div>
