<%
  data = {mode: Rails.env}
  if @assessment
    data[:pre_select] = {
        groupId: @assessment.group_id,
        areaId: @assessment.test.test_family.competence.area_id,
        competenceId: @assessment.test.test_family.competence_id,
        familyId: @assessment.test.test_family_id,
        testId: @assessment.test_id,
        assessmentId: @assessment.get_data,
        testTypeId: @assessment.test.test_type_id
    }
  end
%>

<div id='levumi' data="<%= data.to_json%>"> 
  <root-app></root-app>
</div>
