if (sessionStorage['new_login'] != undefined && sessionStorage['new_login'] != sessionStorage['login']) {
    //Multiupdate triggern...
    $("#modal-body").html("<p align='center'>Verschlüsselung aktualisieren</p><div class='spinner'><div class='bounce1'></div><div class='bounce2'></div><div class='bounce3'></div></div>");

    sessionStorage['login'] = sessionStorage['new_login']
    students = []
    Object.keys(groups).forEach(function(key, index) {
        for (let i = 0; i < this[key].length; ++i)
            students.push({id: this[key][i].id, name: encrypt(this[key][i].name)})
    }, groups);

    fetch("/students/", {
        method: 'put',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        credentials: "include",
        body: "students=" + encodeURIComponent(JSON.stringify(students))
    })
        .then(response => $('#modal').modal('hide'));
}
else
    $('#modal').modal('hide');
