<p class='text-justify'>
  <%= text %>
</p>
<p class='text-center'>
  <button
    class="<%= last ? 'btn btn-sm btn-outline-success' : 'btn btn-sm btn-outline-primary' %>"
    id='popover-next-button'>
      <%= last ? "Los geht's" :  "Weiter" %>
    </button>
</p>