#questionContainer{
margin-top: 10%;
margin-bottom: 4%;
font-size: 3rem;
display: none;
}

#welcomeEndPageContainer{
margin-top: 5%;
display: none;
}

#buttonContainer{
margin-left: 3%;
margin-right: 3%;
}

#instructions{
margin-top: 5%;
margin-bottom: 5%;
}

.element{
margin: 0% 10% 0% 10%
}

.answerButton{
font-weight: bold;
font-size: 2.5em;
margin-bottom: 4%;
}

.answerButton:hover{
background-color: rgb(228, 228, 228);
}

.btn-default{
border: 1px solid lightgrey;
} 

.btn-block{
display: block;
width: 100%;
}

.btn{
font-size: 1.5rem;
}

.image{
margin-bottom: 4%;
max-width: 40%;
max-height: 20%;
}

.levumi{
width: 20%;
margin: auto;
margin-bottom: 2%;
}

@media (min-width: 992px){
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
}