<tr>
  <td><%= result.get_date %></td>
  <td><%= result.student.name %></td>
  <td>
    <button class="btn btn-outline-secondary"><i class="fas fa-edit"></i></button>
    <button class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
  </td>
</tr>