<style>
    @media print
    {
        h4 {page-break-before:always}
    }
</style>

<div class="container-fluid">
  <div id="content">
      <h1><%= "Klasse #{@measurement.assessment.group.name}: #{@measurement.assessment.test.name} am #{@measurement.date.to_date.strftime("%d.%m.%Y")}" %></h1>
      <% @measurement.results.each do |r| %>
          <h4><%= "#{r.student.name}, #{r.student.firstname}" %></h4>
          <p class="lead">
            <% r.items.each do |i| %>
                <b><%= Item.find(i.to_i).description %></b><br/>
            <% end %>
          </p>
    <% end %>
  </div>
</div>

<script>
    $(document).ready(function() {
        window.print();
    });
</script>