<!--
<div id="alert">
  <div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p id="notice">Du hast hier die Gelegenheit, die Schriftgröße für den Test individuell anzupassen und die Lautstärke zu überprüfen.
      <br/> Die Zeit von < @measurement.assessment.test.time %> Sekunden läuft dann kurz nach dem Klick auf "Test starten" los!</p>
  </div>
</div>
nicht so gut da Schüler aus dem feld springen, wenn das drin sein soll close event abfangen-->
<nav class="navbar">
  <p class="navbar-brand"><%= "Klasse #{@student.group.name}: Schüler: #{@student.name}: Tasterturschulung" %></p><audio id="itemAudio"></audio>
</nav>
  <div id="text">
    <p style="font-family: 'fibel_nordregular'; font-size:96px" id="itemText" class="text-center">
      Test
    </p>
    <img style="float: right; width: 250px " id="pic" src="/assets/Levumi-jubelt.gif"/>
  </div>
  <div align="center" style="margin-left: 12%">
    <img style="width: 150px " id="pic2" src=""/>
    <img style="width: 150px " id="pic3" src=""/>
    </br>
    </br>
  </div>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  <!-- für die Umlaute ma gucken was er sagt
  <table align="center">
    <tr>
      <th><p id="firstPart">s</th>
      <th><input style="font-family: 'fibel_nordregular'; font-size:96px" id="itemAnswer1" type="text" class="text-center" maxlength="1" size="1"/></th>
      <th><p id="secondPart"/>d</th>
      <th><input style="font-family: 'fibel_nordregular'; font-size:96px" id="itemAnswer2" type="text" class="text-center" maxlength="1" size="1"/></th>
      <th><p id="thirdPart"/>a</th>
  </table>
-->
  <div align="center"  id="footerID">
    <footer>
      <button id="cButton" type="button" class="btn btn-info btn-lg" onclick="cButtonClick()">Nochmal anhören</button>
      <button id="sButton" type="button" class="btn btn-default disabled" onclick="sButtonClick()">Test starten</button>
      <button id="iButton" type="button" class="btn btn-success btn-lg" onclick="iButtonClick()">Weiter</button>
    </footer>
  </div>
</br>
<div class="row">
  <div class="col-lg-12">
    <%= link_to url_for(controller: 'frontend') do%><button id="closeButton" type="button" class="btn btn-block btn-warning btn-lg" >Messung vorzeitig beenden</button><% end %>
  </div>
</div>

<div><p id="test"></p></div>

<script>
    $(window).keyup(function(event) {
        if(currentItemIndex == 0) {
            sButtonClick();
        }
        else if(event.keyCode==27){
            $('#closeButton').trigger('click');
        }
        else if(currentItemIndex == 3) {
            if(event.keyCode == 0||event.keyCode == 182||event.keyCode == 192||event.keyCode == 222){
                iButtonClick();
            }
        }
        else if(currentItemIndex == 5) {
            if(event.keyCode==8) {
                iButtonClick();
            }

        }
        else if(currentItemIndex == 7) {
            if(event.keyCode==63) {
                iButtonClick();
            }

        }
        else if(currentItemIndex == 13) {

        }
        else {
            if(event.keyCode==13){
                iButtonClick();
            }
        }

    });

  /*Initialisierung der Variablen für den Testablauf*/
  var preparation = true;
  var currentItemIndex = 0;
  var timeoutId = -1;
  var currentTimes = "";
  var stopwatch = null;
  /*Liste aller Items, wleche zum Test gehören*/
  var itemData =
      [   "„Hallo ich bin Levumi. Ich möchte heute mit dir üben, auf der Tastatur von einem Computer zu schreiben. "+
          "Bitte höre mir ganz genau zu, damit du weisst, was du tun sollst. "+
          "Bitte drücke jetzt irgendeine Taste auf der Tastatur, damit wir beginnen können.“",
          "Um zur nächsten Aufgabe zu kommen, benutzen wir die Eingabetaste. Auf dem Bild sieht du wo diese Taste auf der Tastertur zu finden ist. Probier sie doch gleich mal aus.",
          "Hier siehst du auf dem Bild einen Kopfhörer. Immer, wenn du den Kopfhörer siehst, musst du gut zuhören, damit du genau weißt, was du tun sollst. "+
          "Das Bild mit der Tastatur zeigt dir, wann du etwas mit der Tastatur eingeben sollst.",
          "ä, ü, ö sind Umlaute, bestimmt kennst du diese Buchstaben. Auf der Tastatur findest du diese Buchstaben auf der rechten Seite. " +
          " Auf dem Bild siehst du, wo du die Buchstaben auf der Tastatur finden kannst. "+
          "Bitte drücke jetzt das ä, ü oder ö.",
          "In den folgenden Wörtern fehlen die Umlaute. Kannst du mir bitte helfen, diese wieder einzufügen? Bitte ergänze jetzt für mich die fehlenden Umlaute.",
          "Bestimmt hast du schon einmal an einem Computer etwas geschrieben, das du wieder löschen wolltest. Dafür benutzt man die Löschtaste. Auf dem Bild kannst du erkennen," +
          " wo du die Taste finden kannst. Bitte drücke jetzt die Löschtaste auf der Tastatur.",
          "Jetzt benötige ich unbedingt deine Hilfe. Ich habe einen Satz geschrieben und möchte diesen wieder löschen. Bitte benutze die Löschtaste und lösche alle Buchstaben für mich.",
          "Nun geht es um einen Buchstaben, den es nur im Deutschen gibt, das ß. Es hat sich auf der Computertastatur oben rechts ziemlich gut versteckt. Drücke bitte die Taste für das ß auf der Tastatur",
          "Um ein Wort großzuschreiben, muss man zwei Tasten gleichzeitig drücken: Den Pfeil, der nach oben zeigt, " +
          "ganz links auf der Tastatur und eine Buchstabentaste. Am besten benutzt du dafür deine beiden Zeigefinger",
          "Bitte ergänze in den folgenden Wörtern die Großbuchstaben.",
          "Danke, dass du so gut mitmachst!",
          "Jetzt hast du schon gut geübt, auf der Tastatur zu schreiben. Nun diktiere ich dir einen Satz. Bitte schreibe die Wörter so schnell du kannst. Aber achte genau auf die richtige Schreibung!" +
          " Die Wörter, die du schreiben sollst, sind gelb makiert. Wenn du das Wort geschrieben hast, drücke die Leertaste, damit du zum nächsten Wort gelangst.",
          "Die Familie Schmidt hat einen großen Obstgarten mit Apfelbäumen, Quittenbäumen und Kirschbäumen. Aus dem Obst machen sie viele Gläser Marmelade. Lecker",
          "Super, du hast es geschafft! Das hast du toll gemacht! Zum beenden des Testes drücke bitte die Escapetaste."];
  /*Liste aller Items, wleche zum Test gehören*/
  var itemDataSound =[];



  /*was kann sollte noch vor Testbeginn gemacht/angezeigt werden
   * TODO: Bild und andere Kleinigkeiten. siehe auch Diktiertest*/
  function prepareTest() {
      $('#itemText').css('font-size', 60);
      $('#itemText').html(itemData[currentItemIndex]);
      $('#pic').css('margin-top',-50);
      /*
      var fileName = "/assets/Test.mp3";
      $("#itemAudio").attr("src",fileName).trigger('play');
      */
      preparation = true;
      $('#cButton').html("Schrift größer");
      $('#iButton').html("Schrift kleiner");
      setButtons(true);
  }
  /*Testphase beginnt*/
  function startTest() {
      preparation=false;
      $('#cButton').html("Nochmal anhören");
      $('#iButton').html("Weiter");
      setButtons(true);
      currentTimes = "";
      nextItem();
      if (timeoutId != -1) {
          window.clearTimeout(timeoutId);
      }
      timeoutId = window.setTimeout(stopTest, <%= 180*1000 %> + 500, true);
  }
  /*Wenn Zeit abgelaufen oder alle Wörter durchgelaufen test beenden*/
  function stopTest(timeout) {
      if (timeoutId != -1) {
          window.clearTimeout(timeoutId);
          timeoutId = -1;
          currentItemIndex = 0;
      }
      $('#itemText').html("");
      setButtons(false);
      currentItemIndex = 0;
  }

  /*Nächstes Item anzeigen und seine Daten laden*/
  function nextItem() {
      currentItemIndex++;
      var src1 = '/assets/Levumi-weiterlesen.gif';
      if (currentItemIndex < itemData.length) {
          $('#itemText').html(itemData[currentItemIndex]);
          if(currentItemIndex==1){
              $('#pic2').attr('src','/assets/Enter.jpg');
          }
          else if(currentItemIndex==2) {
              $('#pic').attr('src', '/assets/Levumi-weiterlesen.gif');
              $('#pic2').attr('src','/assets/headphones.png');
              $('#pic3').attr('src','/assets/tastertur.jpg');
          }
          else if(currentItemIndex==3) {
              $('#pic2').hide();
              $('#pic3').hide();
          }
          else if(currentItemIndex==4) {

          }
          else if(currentItemIndex==5) {


          }
          else if(currentItemIndex==6) {

          }
          else if(currentItemIndex==13) {
              $('#pic').hide();
              $('#pic2').width(250);
              $('#pic2').css('margin-right', '10%');
              $('#pic2').attr('src', '/assets/Levumi-jubelt.gif');
              $('#pic2').show();
              $('#closeButton').html("Messung beenden")
          }
          else {
              $('#itemAnswer').attr('type','show');
              $('#itemAnswer').css('border', 'none');
              $('#itemAnswer').css('border-bottom', 'solid 1px black');
          }
          /*
          var fileName = "/assets/magic-item.mp3";
          $("#itemAudio").attr("src",fileName).trigger('play');
          */
          stopwatch = new Date();
      }
      else {
          stopTest(false);
      }

  }

  function iButtonClick() {

      if (!$('#iButton').hasClass("disabled")) {
          if (preparation) {
              curSize = parseInt($('#itemText').css('font-size')) - 6;
              $('#itemText').css('font-size', curSize);
              /*
              $('#itemAnswer').css('font-size',curSize)
              */
          }
          else {
              stopwatch = new Date() - stopwatch;
              currentTimes = currentTimes + stopwatch + ",";
              nextItem();
          }
      }
  }

  function cButtonClick() {

      if (!$('#cButton').hasClass("disabled")) {
          if (preparation) {
              curSize=parseInt($('#itemText').css('font-size')) + 6;
              $('#itemText').css('font-size', curSize);
              /*
              $('#itemAnswer').css('font-size',curSize)
              */
          }
          else {
              var h = document.getElementById("itemAudio");
              h.pause();
              h.currentTime = 0;
              h.play();
          }
      }
  }

  function setButtons(enabled) {
      if (enabled) {
          if (preparation) {
              $('#cButton').removeClass("disabled");
              $('#cButton').removeClass("btn-info");
              $('#sButton').removeClass("disabled");
              $('#sButton').addClass("btn-success");
              $('#iButton').removeClass("disabled");
              $('#iButton').removeClass("btn-success");
          }
          else {
              $('#cButton').removeClass("disabled");
              $('#cButton').addClass("btn-info");
              $('#iButton').removeClass("disabled");
              $('#iButton').addClass("btn-success");
              $('#sButton').addClass("disabled");
              $('#sButton').removeClass("btn-success");
          }
      }
      else {
          $('#cButton').addClass("disabled");
          $('#cButton').removeClass("btn-info");
          $('#iButton').addClass("disabled");
          $('#iButton').removeClass("btn-success");
          $('#sButton').addClass("disabled");
          $('#sButton').removeClass("btn-success");
      }
  }

  function sButtonClick() {
      if (preparation) {
          startTest();
      }
  }
/*
  function clearInput() {
      $('#itemAnswer').val('');
  }
  */
  /*Befehle/Funktionen die direkt ausgeführt werden, ohne Funktionsaufruf*/
  $(window).onload = prepareTest();

  /*Pfeile fürs Input feld abstellen
  $('#itemAnswer').keydown(function(e){
      var key = e.charCode || e.keyCode;
      if (key == 37||key == 38||key == 39||key == 40||key == 32) {
          // enter key do nothing
          e.preventDefault();
      }
      else {

      }
  });
   */

  /*funktionen bei Tastendruck auf der Seite*/


  $('#fotter').css({position:absolute, bottom:0});
</script>