<style>
  #delete {
    white-space: nowrap;
  }
  .numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }

  .delete {
    grid-column: span 2;
  }
  #continue {
    grid-column: span 3;
  }
  #answer {
    max-width: 4em;
    text-align: center;
  }
  .button {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
  }
</style>

<div id="calculator-widget" class="d-flex justify-content-center flex-column">
  <div class="text-center">
    <p id="task-description">
      <span id="pre-input"></span>
      <input type="input" id="answer" class="" readonly />
      <span id="post-input"></span>
    </p>
  </div>
  <div class="container">
    <div class="mx-auto mt-3 col col-md-10 col-lg-6s">
      <div class="numpad">
        <div id="btn-7" class="calc-btn btn btn-primary">7</div>
        <div id="btn-8" class="calc-btn btn btn-primary">8</div>
        <div id="btn-9" class="calc-btn btn btn-primary">9</div>
        <div id="btn-4" class="calc-btn btn btn-primary">4</div>
        <div id="btn-5" class="calc-btn btn btn-primary">5</div>
        <div id="btn-6" class="calc-btn btn btn-primary">6</div>
        <div id="btn-1" class="calc-btn btn btn-primary">1</div>
        <div id="btn-2" class="calc-btn btn btn-primary">2</div>
        <div id="btn-3" class="calc-btn btn btn-primary">3</div>
        <div id="btn-0" class="calc-btn btn btn-primary">0</div>
        <div class="calc-btn btn btn-warning delete">Löschen</div>
        <div id="continue"><button class="calc-btn btn btn-success w-100">Weiter</button></div>
      </div>
      <div id="empty-error" class="text-danger"></div>
    </div>
  </div>
</div>

<script type="module">
  let currentInputVal = ''
  let handleInput
  let handleSubmit
  window.useCalculatorWidget = ({ submitHandler, inputHandler }) => {
    handleInput = inputHandler
    handleSubmit = submitHandler
    setFontSizes()
    attachHandlers()

    return { update, getElement }
  }

  const update = ({
    continueText,
    currentTask,
    firstNumber,
    secondNumber,
    operation,
    inputPosition,
  }) => {
    if (continueText !== undefined) {
      $('#continue button').text(continueText)
    }
    if (currentTask !== undefined) {
      $('#pre-input').text(`${currentTask} = `)
    }
    if (
      firstNumber !== undefined &&
      secondNumber !== undefined &&
      operation !== undefined &&
      inputPosition !== undefined
    ) {
      switch (inputPosition) {
        case 0:
          $('#pre-input').text('')
          $('#post-input').text(`${getOperatorSymbol(operation)} ${firstNumber} = ${secondNumber}`)
          break
        case 1:
          $('#pre-input').text(`${firstNumber} ${getOperatorSymbol(operation)} `)
          $('#post-input').text(` = ${secondNumber}`)
          break
        default:
          $('#pre-input').text(`${firstNumber} ${getOperatorSymbol(operation)} ${secondNumber} =`)
          $('#post-input').text('')
      }
    }
  }
  const getOperatorSymbol = operatorId => {
    switch (operatorId) {
      case 0:
        return '-'
      case 1:
        return '+'
      case 2:
        return '·'
      case 3:
        return ':'
    }
  }
  const getElement = () => {
    return $('#calculator-widget')
  }

  const attachHandlers = () => {
    // screen input
    $('.delete').on('click', removeNumber)
    for (let i = 0; i < 10; i++) {
      $(`#btn-${i}`).on('click', () => addNumber(i))
    }

    // keyboard input
    document.addEventListener('keydown', e => {
      if (e.key >= '0' && e.key <= '9') {
        addNumber(e.key)
      } else if (e.key === 'Backspace') {
        removeNumber()
      } else if (e.key === 'Enter') {
        submit()
      }
    })

    // submit
    $('#continue').on('click', submit)
  }

  const submit = () => {
    if (currentInputVal === '') {
      $('#empty-error').text('Bitte gib eine Zahl ein!')
      return
    } else {
      $('#empty-error').text('')
    }
    handleSubmit(currentInputVal)
    currentInputVal = ''
    $('#answer').val('')
  }

  const addNumber = num => {
    currentInputVal += num
    updateDom()
  }

  const removeNumber = () => {
    currentInputVal = currentInputVal.slice(0, -1)
    updateDom()
  }

  const updateDom = () => {
    handleInput(currentInputVal)
    $('#answer').val(currentInputVal)
  }

  const setFontSizes = () => {
    let fontSize = '3rem'
    switch (font_size) {
      case 2:
        fontSize = '4rem'
        break
      case 3:
        fontSize = '4.5rem'
        break
    }
    $('#task-description, #empty-error').css({ fontSize, fontFamily: font_family })
    $('.calc-btn').css({ fontSize: '3rem', fontFamily: font_family })
  }
</script>
