<div class="mt-4">
  <label>In welcher Stadt wurden Sie geboren?</label>
  <input
    type="text"
    class="form-control"
    id="securityQuestion"
    placeholder="Antwort auf die Sicherheitsfrage" 
    aria-describedby="security-answer"
  />
  <small id="security-answer" class="form-text text-muted">Bitte beachten Sie Groß- und Kleinschreibung bei der Antwort!</small>
  <br />
  <button class="btn btn-primary" id="securityCheck">Passwort anfordern</button>
</div>
<div class="card-body" id="hiddenAccess" style="display: none"></div>
<div id="verification-result">
  <p class="alert alert-success" id="hidden-password" style="display: none"></p>
</div>

<script>
  $(document).on('click', '#securityCheck', () => {
    $('#hiddenAccess').show()
    retrievePassword()
  })

  async function retrievePassword() {
    const email = $('#email-input').val()
    const security = $('#securityQuestion').val()

    const recovery_key = $('#verificationCode').val()
    const key = await fetch('/recovery_key_verification', {
      method: 'POST',
      headers: {
        Accept: 'application/json',
        'X-Requested-With': 'XMLHttpRequest',
        'Content-Type': 'application/json',
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
      },
      body: JSON.stringify({ user: { email, recovery_key } }),
    })
    if (key.status === 200) {
      const data = await key.json()
      let password

      try {
        password = sjcl.decrypt(security, data.security_digest)

        if (password) {
          $('#hidden-password')
            .html(`Ihr Passwort lautet <p class="my-4"><strong>${password}</strong></p>Sie können sich damit auf der <a href="/">Startseite</a> einloggen. Aus Sicherheitsgründen sollten Sie danach Ihr Passwort in Ihrem Benutzerprofil ändern.`)
            .addClass('alert-success')
            .removeClass('alert-danger')
            .show()

          const del = await fetch('/delete_used_recovery_key', {
            method: 'POST',
            headers: {
              Accept: 'application/json',
              'X-Requested-With': 'XMLHttpRequest',
              'Content-Type': 'application/json',
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
            },
            body: JSON.stringify({ user: { email } }),
          })
        }
      } catch (e) {
        $('#hidden-password')
          .text('Die Sicherheitsfrage wurde nicht richtig beantwortet!')
          .removeClass('alert-success')
          .addClass('alert-danger')
          .show()
      }
    }
  }
</script>
