<audio id='audioItem'></audio>
<p style='font-family: fibel_nordregular; font-size:60px' class='text-center'>
  „Achte ganz genau darauf, ob ein Wort groß oder klein geschrieben wird. Um ein Wort großzuschreiben, muss man zwei Tasten gleichzeitig drücken:
  Am besten benutzt du dafür deine beiden Zeigefinger.“
  <img id='talkingLevumi' style='float: right; width: 250px ' src='/images/shared/LeVuMi_SprechenBlinzeln.gif'/>
</p>
<br />
<br />
<br />
<footer>
  <table align='center'>
    <tr>
      <th><div style='font-family: fibel_nordregular;font-size:60px'>Nochmal anhören: <span><img style='width: 50px' src='/images/shared/Tastatur_PfeilLinks.png'/></span> /&nbsp;&nbsp;</div></th>
      <th><div style='font-family: fibel_nordregular;font-size:60px'>Weiter: <span><img style='width: 50px' src='/images/shared/Tastatur_EingabetasteAlleine.png'/></span></div></th>
    </tr>
  </table>
</footer>
<script>
    var tempAudio = (document.getElementById('audioItem'));
    tempAudio.src = itemDataSound[studentData[currentStudent][currentItemIndex]][0];
    tempAudio.play();
    $(window).keyup(function (event) {
        if(event.keyCode==37){
            tempAudio.pause();
            tempLevumiPic.src ='/images/shared/LeVuMi_SprechenBlinzeln.gif';
            tempAudio.src = itemDataSound[studentData[currentStudent][currentItemIndex]][0];
            soundFlag=0;
            tempAudio.play();
        }else if(event.keyCode == 13) {
            $(window).unbind('keyup');
            nextItem();
        }});
    var tempLevumiPic = (document.getElementById('talkingLevumi'));
    soundFlag = 0;
    tempAudio.addEventListener('ended', function() {
        if(soundFlag == 0){
            tempAudio.src = itemDataSound[studentData[currentStudent][currentItemIndex]][1];
            soundFlag=1;
            tempAudio.play();
        }
        else{
            tempLevumiPic.src ='/images/shared/Levumi-normal-blau.jpg';
        }
    });
</script>