<!--Natürlich beide Items in " " gepackt, damits ein string ist-->
<!--Itemview für inttro vom Diktat-->
<audio id='audioItem' src='/assets/Anweisungen/15_Hallo.mp3'></audio>
<p style='font-family: fibel_nordregular; font-size:60px' class='text-center'>
  Irgendein Text
  <img style='float: right; width: 250px ' src='/assets/Levumi-jubelt.gif'/>
</p>
<br />
<br />
<br />
<footer>
  <table align='center'>
    <tr>
      <th><div style='font-family: fibel_nordregular;font-size:60px'>Nochmal anhören: <span><img style='width: 50px' src='/assets/Tastatur_PfeilLinks.png'/></span> /&nbsp;&nbsp;</div></th>
      <th><div style='font-family: fibel_nordregular;font-size:60px'>Weiter: <span><img style='width: 50px' src='/assets/Tastatur_EingabetasteAlleine.png'/></span></div></th>
    </tr>
  </table>
</footer>

<script>
    var tempAudio = (document.getElementById('audioItem'));
    tempAudio.play();
    currentResult = currentResult + ',';

    $(window).keyup(function (event) {
        if(event.keyCode==37){
            tempAudio.pause();
            tempAudio.currentTime = 0;
            tempAudio.play();}
        else {
            $(window).unbind('keyup');
            nextItem();
        }})


</script>



<!--itemView für ein abzufragendes Wort vom Diktat-->
<audio id='audioItem' src='/assets/Woerter/Audiodatei(-pfad)'></audio>
<p align='center'>
  <input style='font-family: fibel_nordregular; font-size:96px' id='answer' type='text' class='text-center' align='middle'>
</p>
<br />
<br />
<br />
<footer>
  <table align='center'>
    <tr>
      <th><div style='font-family: fibel_nordregular;font-size:60px'>Nochmal anhören: <span><img style='width: 50px' src='/assets/Tastatur_PfeilLinks.png'/></span> /&nbsp;&nbsp;</div></th>
      <th><div style='font-family: fibel_nordregular;font-size:60px'>Weiter: <span><img style='width: 50px' src='/assets/Tastatur_EingabetasteAlleine.png'/></span></div></th>
    </tr>
  </table>
</footer>

<script>
    var tempAudio = (document.getElementById('audioItem'));
    tempAudio.play();
    var tempAnswer = (document.getElementById('answer'));
    tempAnswer.focus();

    $(window).keyup(function (event) {
        if(event.keyCode==37){
            tempAudio.pause();
            tempAudio.currentTime = 0;
            tempAudio.play();
        }
        else if(event.keyCode == 13) {
            $(window).unbind('keyup');
            if(tempAnswer.value=='abgefragtesWort'){
                currentResult = currentResult + '1,';
                stopwatch = new Date() - stopwatch;
                currentTimes = currentTimes + stopwatch + ',';
            }
            else {
                currentResult = currentResult + '0,';
                stopwatch = new Date() - stopwatch;
                currentTimes = currentTimes + stopwatch + ',';
            };
            nextItem();
        }});
    $(tempAnswer).keydown(function (event) {
        var key = event.charCode || event.keyCode;
        if (key == 37||key == 38||key == 39||key == 40||key == 32||key ==27) {
            event.preventDefault();
        }});



</script>

<!-- itemView für ein beispiel vom Abtipptest-->
<audio id='audioItem' src='/assets/Anweisungen/13_AbtippaufgabeSatz.mp3'></audio>
<p style='font-family: fibel_nordregular; font-size:60px' class='text-center'>
  „Im <span style='background-color:#FFFF00'>Garten</span> sind große Apfelbäume und Quittenbäume.“
  <img style='float: right; width: 250px ' src='/assets/Levumi-jubelt.gif'/>
  <img style='float: left; width: 150px;margin-left: 125px' src='/assets/headphones.png'/>
  <br />
  <br />
  <img style='float: left; width: 150px;margin-left: 125px;margin-top: 50px' src='/assets/tastartur.png'/>
  <input style='font-family: fibel_nordregular; font-size:96px' id='answer' type='text' class='text-center' align='middle'>
</p>
<br />
<br />
<footer>
  <table align='center'>
    <tr>
      <th><div style='font-family: fibel_nordregular;font-size:60px'>Nochmal anhören: <span><img style='width: 50px' src='/assets/Tastatur_PfeilLinks.png'/></span> /&nbsp;&nbsp;</div></th>
      <th><div style='font-family: fibel_nordregular;font-size:60px'>Weiter: <span><img style='width: 50px' src='/assets/Tastatur_EingabetasteAlleine.png'/></span></div></th>
    </tr>
  </table>
</footer>
<script>
    var tempAudio = (document.getElementById('audioItem'));
    tempAudio.play();
    var tempAnswer = (document.getElementById('answer'));
    tempAnswer.focus();
    $(tempAnswer).css('border','0px').css('border-bottom', 'black solid 1px').attr('maxlength', '16').attr('size','16');
    currentResult = currentResult + ',';
    $(window).keyup(function (event) {if(event.keyCode==37){
        tempAudio.pause();
        tempAudio.currentTime = 0;
        tempAudio.play();
    } else if(event.keyCode == 13 && tempAnswer.value == 'Garten') {
        $(window).unbind('keyup');
        nextItem();
    }})
</script>

<!--itemview für ein gesplitetetes Item vom Abtipptest-->
<audio id='audioItem' src='/assets/Anweisungen/6_Umlaute4.mp3'></audio>
<p style='font-family: fibel_nordregular; font-size:60px' class='text-center'>
  "Bitte ergänze jetzt für mich die fehlenden Umlaute."
  <img style='float: right; width: 250px ' src='/assets/Levumi-jubelt.gif'/>
  <img style='float: left; width: 150px;margin-left: 125px' src='/assets/headphones.png'/>
  <br />
  <br />
  <img style='float: left; width: 150px;margin-left: 125px;margin-top: 50px' src='/assets/tastartur.png'/>
</p>
<p style='font-family: fibel_nordregular; font-size:96px' type='text' class='text-center' align='middle'>
  B<span style='background-color:#FFFF00'>ä</span>ume
</p>
<p style='font-family: fibel_nordregular; font-size:96px' type='text' class='text-center' align='middle'>
  B<input style='font-family: fibel_nordregular;padding-bottom: 10px; line-height: 50px; width: 50px; font-size:96px' id='answer' type='text' class='text-center' align='middle'>ume
</p>
<br />
<br />
<footer>
  <table align='center'>
    <tr>
      <th><div style='font-family: fibel_nordregular;font-size:60px'>Nochmal anhören: <span><img style='width: 50px' src='/assets/Tastatur_PfeilLinks.png'/></span> /&nbsp;&nbsp;</div></th>
      <th><div style='font-family: fibel_nordregular;font-size:60px'>Weiter: <span><img style='width: 50px' src='/assets/Tastatur_EingabetasteAlleine.png'/></span></div></th>
    </tr>
  </table>
</footer>
<script>
    var tempAudio = (document.getElementById('audioItem'));
    tempAudio.play();
    var tempAnswer = (document.getElementById('answer'));
    tempAnswer.focus();
    $(tempAnswer).css('border','0px').css('border-bottom', 'black solid 1px').attr('maxlength', '1').attr('size','1').val('');;
    currentResult = currentResult + ',';
    $(window).keyup(function (event) {if(event.keyCode==37){
        tempAudio.pause();
        tempAudio.currentTime = 0;
        tempAudio.play();
    } else if(event.keyCode == 13 && tempAnswer.value == 'Garten') {
        $(window).unbind('keyup');
        nextItem();
    }})
</script>


