// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.groupCard {
  background: white !important;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.groupButton {
  width: 100%;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

