<% if material.nil? %>
  <!-- Form für Import -->
  <b-card class='mt-3'>
    <%= form_for Material.new, multipart: true, class: 'form' do |f| %>
      <div class='form-group'>
        <label for='fileInput'>Material aus Archivdatei(en) importieren</label>
        <%= f.file_field 'file', id: 'fileInput', class: 'form-control-file', accept: '.zip', multiple: true, onchange: "$('#submit').removeClass('disabled');" %>
      </div>
      <%= button_tag type: 'submit', id: 'submit', class: 'btn btn-outline-primary disabled' do%>
        <i class='fas fa-file-upload'></i> Hochladen
      <% end %>
    <% end %>
  </b-card>
<% else %>
  <!-- Form für Ändern -->
  <%= form_for material, remote: true, class: 'form form-inline' do |f| %>
  <% end %>

<% end %>