<div id='projects' class='modal fade' tabindex='-1'>
  <div class='modal-dialog modal-dialog-scrollable modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Kooperationspartner aus Forschung und Schulpraxis</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>

      <div class='modal-body'>
        <h4>Lesen</h4>
        <p>
          Prof. Dr. Kirsten Diehl, Uni Flensburg<br/>
          Prof. Dr. Katrin Liebers, Universität Leibzig
        </p>

        <h4>Mathematik</h4>
        <p>
          Prof. Dr. Stefan Ufer, LMU München<br/>
          Dr. Daniel Sommerhoff, IPN Kiel<br/>
          Prof. Jan Kuhl, TU Dortmund<br/>
          Sarah Schulz, TU Dortmund<br/>
          Sven Anderson, TU Dortmund (Projekt Do Profil)
        </p>

        <h4>Rechtschreibung</h4>
        <p>
          Lisa Mau, Universität Flensburg
          Anne Barwasser, Universität Köln<br/>
          Kerstin Nobel, Universität Köln<br/>
        </p>

        <h4>Fragebögen</h4>
        <p>
          Prof. Dr. David Scheer, Pädagogische Hochschule Heidelberg<br/>
          Dr. Michael Schurig, TU Dortmund<br/>
          Prof. Carmen Zubriggen, Universität Luxemburg
        </p>

        Teile der Plattform wurden als studentische Projekte an der CAU Kiel realisiert.

      </div>
    </div>
  </div>
</div>

