<div class="well">
  <h1><%= image_tag('Levumi-klein-blau.png', size: "120")%> Levumi  </h1>
  <p class="text-justify">
  Die Lernplattform LEVUMI ist ein gemeinsames Forschungsprojekt der Wissenschaftler Markus Gebhardt (Technische Universität München), Kirsten Diehl (Europa-Universität Flensburg) und Andreas Mühling (Universität Kiel),
  mit dem Ziel einerseits die Forschung zur Lernverlaufsdiagnostik zu vertiefen und andererseits der Schulpraxis ein praktikables Onlineinstrument anzubieten.
  Das Projekt ist langfristig geplant und die vorliegenden Tests werden in den kommenden Jahren weiterentwickelt und optimiert.<br/>
  Aktuell beinhaltet LEVUMI drei Lernverlaufstests zur Leseflüssigkeit und einen Buchstabentest.
  Weitere Lernverlaufstestreihen im Bereich Lesen, Rechtschreiben und Mathematik sind geplant.
  </p>
  <p>
    Für einen ersten Überblick über LEVUMI empfehlen wir die <a href="https://youtu.be/J1Tgp06pGF4">Video Anleitung</a> oder einen Blick in das <%= link_to "Lehrerhandbuch", asset_path("LEVUMI_Lehrerhandbuch.pdf")%>.
  </p>
  <h3>Lernverlaufsmessung im Unterricht</h3>
  <p class="text-justify">
    Eine Möglichkeit Lernerfolge von Schülerinnen und Schüler zu erfassen und Rückmeldung an die Lehrkräfte zu geben bietet die Lernverlaufsdiagnostik.
    Anhand der Rückmeldung können Lehrkräfte besser auf einzelne Schülerinnen und Schüler im Unterricht eingehen.<br/>

    Lernverlaufsdiagnostik stellt insbesondere in inklusiven und leistungsheterogenen Klassen eine wichtige Informationsbasis für methodisch-didaktische Entscheidungen dar,
    indem für Schülerinnen und Schüler aller Leistungsniveaus rückgemeldet wird, ob der Unterricht angemessene Lernfortschritte bewirkt.
  </p>
  <h3>Kontakt</h3>
  <p>
    Bei inhaltlichen Fragen wenden Sie sich bitte an <a href="mailto: markus.gebhardt@tum.de">Markus Gebhardt</a>, <br/>
    bei technischen Problemen wenden Sie sich an <a href="mailto: andreas.muehling@tum.de">Andreas Mühling</a>.
  </p>
</div>
