<ul id="tabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tests" aria-controls="tests" role="tab" data-toggle="tab">Nach Tests</a></li>
    <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Nach Nutzern</a></li>
    <li><%= link_to "Alle Messungen - CSV", tests_path(format: :txt)%></li>
    <li><%= link_to "Alle Messungen - XLS", tests_path(format: :xml)%></li>
</ul>

<div class="tab-content" style="border-left: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; border-radius: 0 0 4px 4px; padding: 19px;">
  <div role="tabpanel" class="tab-pane active" id="tests">
        <div class="tab-content" style="padding-top: 19px;">
          <div class="row">
            <%= render 'tests/index' %>
          </div>
        </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="users">
    <div class="tab-content" style="padding-top: 19px;">
      <div class="row">
        <%= render 'users/index' %>
      </div>
    </div>
  </div>
</div>
