<ul id="tabs" class="nav nav-tabs" role="tablist">
    <li role="presentation active"><a href="#tests" aria-controls="tests" role="tab" data-toggle="tab">Nach Tests</a></li>
    <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Nach Nutzern</a></li>
</ul>

<div class="tab-content" style="border-left: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; border-radius: 0 0 4px 4px; padding: 19px;">
  <div role="tabpanel" class="tab-pane active" id="tests">
        <div class="tab-content" style="padding-top: 19px;">
          <div class="row">

            <% @tests.each do |test| %>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <% unless Assessment.find_by_test_id(test.id).nil? %>
                      <%= link_to url_for(:controller => "application", :action => "export", :test => test.id) do %>
                          <div class="btn btn-default groupButton">
                            <b><%= test.name %></b>
                          </div>
                      <% end %>
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="users">
    <div class="tab-content" style="padding-top: 19px;">
      ...
    </div>
  </div>
</div>
