<%
  data = {'tests': nil, student: 0}
  data['tests'] = @student.get_assessments unless @student.nil?
  data['student'] = {id: @student.id, login: @student.login} unless @student.nil?
%>

<% unless @student.nil? %>
  <script>
      window.$('#navbar_text').html('Dein Login Code: <%= @student.login %>')
      window.$('#navbar_button').html("<a class='btn btn-outline-secondary' href='/testen_logout' data-method='post'>Abmelden</a>")
  </script>
<% end %>

<div id='levumi' data="<%= data.to_json%>">

  <!-- Spinner -->
  <div v-if='!$data'>
    <b-row>
      <div class='spinner'>
        <div class='bounce1'></div>
        <div class='bounce2'></div>
        <div class='bounce3'></div>
      </div>
    </b-row>
  </div>

  <!-- Vue-component -->
  <frontend-app></frontend-app>
</div>


