<div class="well">
  <h3>Lernverlaufsmessung im Unterricht</h3>
  <p class="text-justify">
    Eine Möglichkeit Lernerfolge von Schülerinnen und Schüler zu erfassen und Rückmeldung an die Lehrkräfte zu geben bietet die Lernverlaufsdiagnostik.
    Anhand der Rückmeldung können Lehrkräfte besser auf einzelne Schülerinnen und Schüler im Unterricht eingehen.<br/>
    <br/>
    Lernverlaufsdiagnostik stellt insbesondere in inklusiven und leistungsheterogenen Klassen eine wichtige Informationsbasis für methodisch-didaktische Entscheidungen dar,
    indem für Schülerinnen und Schüler aller Leistungsniveaus rückgemeldet wird, ob der Unterricht angemessene Lernfortschritte bewirkt.<br/>
    <br/>
    Die Plattform Levumi ist ein gemeinsames Forschungsprojekt der Wissenschaftler Markus Gebhardt (TU München) & Andreas Mühling (Universität Kiel),
    mit dem Ziel einerseits die Forschung zur Lernverlaufsdiagnostik zu vertiefen und andererseits der Schulpraxis praktikables Onlineinstrument anzubieten.
    Das Projekt ist <b>langfristig geplant</b> und die Tests werden in den kommenden Jahren neu konstruiert und verbessert.

  </p>
  <h3>Videohilfen zur Bedienung</h3>
  <p>
    Das Levumi-Forscherteam hat für Sie kurze, leicht verständliche Videos erstellt. Die Videos stellen die Plattform vor und helfen bei der Nutzung und Bedienungen.<br/>
    <a href="https://www.youtube.com/watch?v=-F5cPsnC9IA">Dieses Video</a> stellt Ihnen die Online-Plattform Levumi vor und gibt Ihnen einen Einblick, inwiefern Sie durch die Arbeit mit Levumi profitieren können.
  </p>

    <h2><small>Die Levumi-Plattform stellt sich vor</small></h2>
    <dl>
      <dt>Wie erhalte ich einen Levumi-Account?</dt>
      <dd><a href="https://www.youtube.com/watch?v=g0VnakmgHRw">Dieses Video</a> zeigt Ihnen, wie sie auf der Online-Plattform LeVuMi einen Account anlegen können, um alle Inhalte kostenfrei nutzen zu können!</dd>
      <dt>Erstes Arbeiten mit Levumi</dt>
      <dd><a href="https://www.youtube.com/watch?v=vUZ6M49l174">Dieses Video</a> möchte Sie bei der Vorbereitung Ihrer ersten Testung unterstützen: Sie lernen die Testklasse kennen, in der Sie Levumi ausprobieren können. Anschließend zeigen wir Ihnen, wie sie ihre eigene Klasse bearbeiten können und Ihre Schülerprofile der Klasse anlegen können.</dd>
    </dl>


    <h2><small>Tipps zu den lehrerzentrierten Tests</small></h2>
    <dl>
      <dt>Wie richte ich einen lehrerzentrierten Test ein?</dt>
      <dd>In <a href="https://www.youtube.com/watch?v=B0tvc3g8Phk">diesem Video</a> wird am Beispiel eines Tests der Leseflüssigkeit demonstriert, wie man eine lehrerzentrierte Testung einrichtet.</dd>
      <dt>Wie führe ich einen lehrerzentrierten Test durch?</dt>
      <dd>In <a href="https://www.youtube.com/watch?v=8d3K9Jb-iVY">diesem Video</a> wird am Beispiel eines Tests der Leseflüssigkeit demonstriert, wie man eine lehrerzentrierte Testung durchführt.</dd>
      <dt>Was sind Lesefehler?</dt>
      <dd><a href="https://www.youtube.com/watch?v=mV27fiRGmCQ">Dieses Video</a> zeigt, was bei den Leseflüssigkeitstests als Lesefehler gewertet wird und wo Sie eine nähere Beschreibung zu den Lesefehlern finden.</dd>
      <dt>Ich habe mich verklickt  - Was nun?</dt>
      <dd>Wenn Sie sich während einer lehrerzentrierten Testung verklickt haben, können Sie diesen Fehler leicht korrigieren. <a href="https://www.youtube.com/watch?v=8PTHDZixBpY">Dieses Video</a> zeigt Ihnen, wie es geht.</dd>
    </dl>

    <h2><small>Tipps zu den schülerzentrierten Tests</small></h2>
    <dl>
      <dt> Wie richte ich einen schülerzentrierten Test ein?</dt>
      <dd>In <a href="https://www.youtube.com/watch?v=hWk6cVzVDgg">diesem Video</a> wird am Beispiel des sinnentnehmenden Lesetests demonstriert, wie man eine schülerzentrierte Testung einrichtet.</dd>
      <dt> Wie führe ich einen schülerzentrierten Test durch?</dt>
      <dd>In <a href="https://www.youtube.com/watch?v=u8Uw9bfi-kU">diesem Video</a> wird am Beispiel des sinnentnehmenden Lesetests demonstriert, wie man eine schülerzentrierte Testung einrichtet.</dd>
    </dl>

    <h2><small>Allgemeine Tipps</small></h2>
    <dl>
      <dt>Das Testfenster öffnet sich nicht</dt>
      <dd>In <a href="https://www.youtube.com/watch?v=_eI5X-s4nI0">diesem Video</a> erfahren Sie, wie Sie einstellen müssen, wenn sich das Testfenster nicht öffnet.</dd>
    </dl>

  <h3>Kontakt</h3>
  <p>
    Bei inhaltlichen Fragen wenden Sie sich bitte an <a href="mailto: markus.gebhardt@tum.de">Markus Gebhardt</a>, <br/>
    bei technischen Problemen wenden Sie sich an <a href="mailto: jana.jungjohann@tu-dortmund.de">Jana Jungjohann</a> oder <a href="mailto: andreas.muehling@tum.de">Andreas Mühling</a>.
  </p>
</div>

<div class="well">
  <h3>Häufig gestellte Fragen (FAQ)</h3>
  <br/>
  <% Faq.order(created_at: :desc).each do |f| %>
      <p class="lead"><%= raw(f.question) %></p>
      <p class="text-justify">
        <%= raw(f.response) %>
      </p>
      <br/>
  <% end %>
</div>