<div class="well">
  <h3>Lernverlaufsmessung im Unterricht</h3>
  <p class="text-justify">
    Eine Möglichkeit Lernerfolge von Schülerinnen und Schüler zu erfassen und Rückmeldung an die Lehrkräfte zu geben bietet die Lernverlaufsdiagnostik.
    Anhand der Rückmeldung können Lehrkräfte besser auf einzelne Schülerinnen und Schüler im Unterricht eingehen.<br/>

    Lernverlaufsdiagnostik stellt insbesondere in inklusiven und leistungsheterogenen Klassen eine wichtige Informationsbasis für methodisch-didaktische Entscheidungen dar,
    indem für Schülerinnen und Schüler aller Leistungsniveaus rückgemeldet wird, ob der Unterricht angemessene Lernfortschritte bewirkt.
  </p>
  <h3>Hilfe zur Bedienung</h3>
  <p>
    Für den ersten Einstieg in die Bedienung von LeVuMi empfehlen wir die <a href="https://youtu.be/J1Tgp06pGF4">Video Anleitung</a>
  </p>
  <h3>Kontakt</h3>
  <p>
    Bei inhaltlichen Fragen wenden Sie sich bitte an <a href="mailto: markus.gebhardt@tum.de">Markus Gebhardt</a>, <br/>
    bei technischen Problemen wenden Sie sich an <a href="mailto: andreas.muehling@tum.de">Andreas Mühling</a>.
  </p>
</div>
