<%= content_for :head do %>
    <!-- Zusätzliche Styles für Landing Page -->
    <style>
      .info {
          padding: 15px; color: black; background-color: #f0f8ffdd;
      }
      .lead {
          padding: 15px; color: black; background-color: #f0f8ffdd;
          font-size: 1.2em;
      }
    </style>
<% end %>

<%= content_for :navbar do %>
  <!-- Navbar mit Login-Dialog -->
  <nav class='navbar sticky-top navbar-expand-lg navbar-light bg-light'>
    <a class='navbar-brand' href='#'><img src='/images/shared/Levumi-normal_small.png' alt='Levumi' width='48' height='48'/>Levumi</a>
    <a class='nav-item btn btn-outline-secondary nav-link ml-auto' href='/'>Kostenlos starten auf der Hauptseite</a>
  </nav>
<% end %>


<%= content_for :body do %>

  <div class="container-fluid">

    <p class='info mt-5'>
      Mehr Informationen über die in Levumi vorhandenen Tests finden Sie <a href='https://www.uni-regensburg.de/humanwissenschaften/lernbehindertenpaedagogik/instrumente/index.html'>hier</a>.
    </p>

    <p class='info'>
      Der <a href='https://www.levumi-blog.uni-kiel.de' target='_blank'>Levumi Blog</a> unterstützt Sie bei allen Fragen rund um die Plattform und informiert über praxisrelevante Forschungsergebnisse. <br/>
    </p>

    <p class="text-center">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-F5cPsnC9IA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
  </div>


  <footer class='mt-2'>
    <ul class="list-inline text-center">
      <li id="imprint-button"class="list-inline-item"><a href='#'>Impressum</a></li>
      <li id="privacy-button"class="list-inline-item"><a href='#'>Datenschutzerklärung</a></li>
      <li id="projects-button"class="list-inline-item"><a href='#'>Über das Projekt</a></li>
    </ul>
  </footer>
  <script type="module">
    const showModal = (e, target)=>{
      e.preventDefault()
      e.stopPropagation()
      $(target).modal('show')
    }
    $('imprint-button').on('click', (e)=>showModal(e, '#imprint'))
    $('privacy-button').on('click', (e)=>showModal(e, '#privacy'))
    $('projects-button').on('click', (e)=>showModal(e, '#projects'))
  </script>
<% end %>
