<div class="well">
  <h2>Datenschutzerklärung</h2>
  <br/>

  <h3>Datenschutz</h3>
  <p class="text-justify">
    Die Betreiber von LEVUMI nehmen den Schutz Ihrer persönlichen Daten sehr ernst.
    Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
    Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis.
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann.
    Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
    Alle Daten werden auf Rechnern der Universität gespeichert und nur wissenschaftlich ausgewertet.
    Alle Daten werden streng vertraulich behandelt. Insbesondere werden die Daten ohne Ihre ausdrückliche Zustimmung nicht an unbeteiligte Dritte weitergegeben.
  </p>

  <br/>
  <h3>Auskunft, Löschung, Sperrung</h3>
  <p class="text-justify">
    Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten.
    Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
  </p>

  <br/>
  <h3>Personenbezogene Daten der Lehrkräfte</h3>
  <p class="text-justify">
    Die Lehrkräfte erhalten einen eigenen, passwortgeschützten Zugang.
    Es werden dazu die folgenden Daten erhoben: E-Mail Adresse, Name, Schule/Institution, Bundesland, Tätigkeit
    Für Forscher entfällt die Angabe der Tätigkeit, für Privatpersonen entfällt darüber hinaus die Angabe der Schule/Institution.
    Die E-Mail Adresse und der Name werden ausschließlich dazu verwendet, Sie zu kontaktieren. Dies kann zum Einen bei wichtigen Information über die Plattform geschehen und zum Andere, wenn wir Sie um Mithilfe bei unserer Begleitforschung bitten möchten.
    Die Angaben zur Schule/Institution werden von uns nicht ausgewertet. Die Angaben zu Bundesland und Tätigkeit können - anonymisiert - von uns ausgewertet werden, etwa um die Verbreitung der Plattform zu erforschen.
  </p>

  <br/>
  <h3>Schülerdaten</h3>
  <p class="text-justify">
    Die Daten von Schülerinnen und Schülern (SuS) werden durch die Lehrkraft oder durch die SuS selbst erhoben.
    Neben einem Code pro SuS werden einige statistische Merkmale (z.B. das Geschlecht und das Alter) erhoben.
    Wir weisen ausdrücklich darauf hin, dass der Code der SuS nicht dem tatsächlichen Namen entsprechen soll!
    Damit sind die Daten der SuS für die Seitenbetreiber anonym.
    Die Leistungsdaten werden zusammen mit den statistischen Merkmalen für unsere wissenschaftlichen Auswertungen verwendet.
    Lehrkräfte sollen die Plattform nur benutzen, wenn die Schule und die Eltern der betroffenen SuS ihr Einverständnis gegeben haben.
  </p>

  <br/>
  <h3>Cookies</h3>
  <p class="text-justify">
    LEVUMI verwendet teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren.
    Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
    Die von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs (beim Ausloggen bzw. Schließen des Browsers) automatisch gelöscht.
    Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browser aktivieren.
    Bei der Deaktivierung von Cookies kann LEVUMI nur stark eingeschränkt benutzt werden.
  </p>

  <br/>
  <h3>Server-Log-Files</h3>
  <p class="text-justify">
    Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die Ihr Browser automatisch an uns übermittelt.
    Dies sind:</br>
    </br>
    Browsertyp/ Browserversion</br>
    verwendetes Betriebssystem</br>
    Referrer URL</br>
    Hostname des zugreifenden Rechners</br>
    Uhrzeit der Serveranfrage</br>
    </br>
    Diese Daten sind nicht bestimmten Personen zuordenbar.
    Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
    Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.
  </p>

</div>
