<div class="jumbotron">
  <h2>Datenschutzerklärung (noch im Aufbau)</h2>
  <h3>Art und Dauer der Speicherung</h3>
  <p>
    Die Lehrkräfte erhalten einen eigenen passwortgeschützten Zugang. Sie speichern die Daten nur unter Codes und nicht unter dem Schülernamen. Die Daten liegen auf Server der Universität und werden nur wissenschaftlich ausgewertet. Die Daten werden nicht an unbeteiligte dritte Personen weitergegeben. Alle Daten werden streng vertraulich behandelt.
    Die Lehrkräfte können die Plattform benutzen, wenn die Schule und die Eltern der einzelnen Kinder ihre Einverständnis gegeben haben.
  </p>
</div>
