<div class="jumbotron">
  <h1><%= image_tag('Levumi-klein-blau.png', size: "120")%> Levumi  </h1>
  <h3>Lernverlaufs-Monitoring</h3>
  <br/>
  <p>
    Vielen Dank für Ihre Anfrage, Sie bekommen ihre Zugangsdaten per E-Mail geschickt!
  </p>
</div>
