<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %>
    <%= render 'layouts/scripts' %>
  </head>

  <body>

  <%= render 'layouts/navbar' %>

  <%= yield %>

  <!-- Platz für Dialoge etc -->
  <div id='modal' class='modal fade' tabindex='-1'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-body' id='modal-body'>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
