<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %>

    <script>
        //TODO: woanders?
        <%
          #Schülernamen verfügbar machen
          groups = {}
          @login.students.each do |s|
            groups[s.group_id] ||= []
            groups[s.group_id] += [s]
          end
       %>

      groups = JSON.parse("<%= escape_javascript(raw groups.to_json)%>");

      //Entschlüsselt einen String mit dem im sessionStorage gespeicherten Key.
      // Falls die Entschlüsselung fehlschlägt, wird der Wert von alt zurückgegeben.
      function decrypt(text, alt) {
          let res = "";
          try{
              res = sjcl.decrypt(sessionStorage['login'], text);
          }
          catch(e){
              console.error(e.toString());
              console.log('Entschlüsselung fehlgeschlagen'); //Log-Output (evtl. nicht in Production?)
              res = alt;
          }
          return res;
      }

      //Verschlüsselt einen String mit dem im sessionStorage gespeicherten Key.
      function encrypt(text) {
          return sjcl.encrypt(sessionStorage['login'], text);
      }

      //Liefert das Student-Objekt zu einer ID in dessen Gruppe zurück.
      function get_student(group, id) {
          for (let j = 0; j < groups[group].length; ++j)
              if (groups[group][j].id == id)
                  return groups[group][j];
          return null;
      }

      //Namen der Schüler entschlüsseln, evtl. nicht bei jedem Reload?
      Object.keys(groups).forEach(function(key, index) {
          for (let i = 0; i < this[key].length; ++i)
              this[key][i].name = decrypt(this[key][i].name, 'Kind_' + this[key][i].id);
          }, groups);

    </script>

  </head>

  <body>

  <%= render 'layouts/navbar' %>

  <%= yield %>

  <!-- Platz für Dialoge etc -->
  <div id='modal' class='modal fade' tabindex='-1'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-body' id='modal-body'>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
