<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/header' %>
</head>

<body>

<!-- Navbar nur mit Logo -->
<nav class='navbar sticky-top navbar-expand-lg navbar-light bg-light'>
  <a class='navbar-brand' href='#'><img src='/favicon.ico' alt='Levumi' width='48' height='48'/>Levumi</a>
</nav>

<div class='container-fluid'>

  <%
    data = {'tests': nil, student: 0}
    data['tests'] = @student.get_assessments unless @student.nil?
    data['student'] = @student.id unless @student.nil?
  %>


  <div id='levumi' data="<%= data.to_json%>">


    <!-- Spinner -->
    <div v-if='!$data'>
      <b-row>
        <div class='spinner'>
          <div class='bounce1'></div>
          <div class='bounce2'></div>
          <div class='bounce3'></div>
        </div>
      </b-row>
    </div>

    <!-- Vue-component -->
    <frontend-app></frontend-app>
  </div>

</div>

</body>
</html>
