<% content_for :navbar do %>
  <!-- Navbar nur mit Logo -->
  <nav class='navbar sticky-top navbar-expand-lg navbar-light bg-light'>
    <a class='navbar-brand' href='#'><img src='/favicon.ico' alt='Levumi' width='48' height='48'/>Levumi</a>
  </nav>
<% end %>

<% content_for :body do %>
  <div class='container-fluid'>

    <%= yield %>

  </div>
<% end %>

<%= render template: 'layouts/application' %>