<% content_for :navbar do %>
  <!-- Navbar nur mit Logo -->
  <nav class='navbar sticky-top navbar-expand-lg navbar-light bg-light'>
    <a class='navbar-brand' href='/'><img src='/images/shared/Levumi-normal_small.png' alt='Levumi' width='48' height='48'/>Levumi</a>
    <ul class='navbar-nav ml-auto'>
      <li class='nav-item' id='navbar_button'></li>
    </ul>
    <ul class='navbar-nav ml-auto'>
      <li class='navbar-text' id='navbar_text'></li>
    </ul>
  </nav>
<% end %>

<% content_for :body do %>
  <div class='container-fluid'>

    <%= yield %>

  </div>
<% end %>

<%= render template: 'layouts/application' %>