<% content_for :navbar do %>
  <!-- Navbar nur mit Logo -->
  <nav class='navbar sticky-top navbar-expand-lg navbar-light bg-light'>
    <a class='navbar-brand' href='#'><img src='/favicon.ico' alt='Levumi' width='48' height='48'/>Levumi</a>
  </nav>
<% end %>

<% content_for :body do %>
  <div class='container-fluid'>

    <div class='row'>
      <div class='col-3'>
      </div>
      <div class='col-6'>

        <%= yield %>

      </div>
      <div class='col-3'>
      </div>
    </div>
  </div>
<% end %>

<% render layout: 'application' %>